<div class="container">
    <div class="d-flex jcc">
        <div class="flex-column card mt-3 p-3 jcs width-m" style="border:none;">
            <span style="font-weight: 900;font-size: 30px;height: 40px;line-height: 40px;cursor: pointer;">Reset your
                password</span>
            <div style="padding: 20px 0;">
                <p>
                    Reset your password with Desiland. For security reasons, do not share your login credentials
                    with
                    anyone
                </p>
            </div>
            <div class="input-div">
                <input class="_381fS" type="password" name="password" id="password" tabindex="3" autocomplete="off"
                    value="" [(ngModel)]="password" #ctrl="ngModel">
                <div class="_2EeI1 _26LFr"></div>
                <label class="_1Cvlf _2tL9P" for="password">Password</label>
            </div>
            <div class="input-div">
                <input class="_381fS" type="password" name="repeatPassword" id="repeatPassword" tabindex="4"
                    autocomplete="off" value="" [(ngModel)]="repeatPassword" #ctrl="ngModel">
                <div class="_2EeI1 _26LFr"></div>
                <label class="_1Cvlf _2tL9P" for="repeatPassword">Repeat Password</label>
            </div>
            <div class="d-flex justify-content-center align-items-center my-3">
                <button class="btn-lift flex-grow" (click)="submit()">Reset Password</button>
            </div>
            <div *ngIf="errorMessage !== undefined"
                style="font-weight: normal;text-align: center;display: block;background-color: rgb(241, 215, 215);color: #bc3737;padding: 20px;">
                <p>{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>