<div *ngIf="cloudKitchen !== null && cloudKitchen !== undefined && !incorrectLanding">

    <div class="flex-row jcsb py-2 aic border-bottom">
        <fa-icon [icon]="faArrowLeft" class="btn-circle" (click)="goback()"></fa-icon>
        <span class="bolder fs-3">{{cloudKitchen.name}}</span>
        <!-- <div class="flex-row">
            <img *ngIf="cloudKitchen.open" src="/assets/images/we-are-open.jpeg" style="width: 50px;height: 50px;">
            <img *ngIf="!cloudKitchen.open" src="/assets/images/we-are-closed.jpeg" style="width: 50px;height: 50px;">
        </div> -->
       
        <div *ngIf="cloudKitchen.open" class="flex-column open aic jcc px-2 py-1">
            <small style="font-size: 11px;">Yes</small>
            <small style="font-size: 7px;font-style: italic;">We're</small>
            <span class="fs-6">Open</span>
        </div>
        <div *ngIf="!cloudKitchen.open" class="flex-column closed aic jcc px-2 py-1">
            <small style="font-size: 11px;">Sorry</small>
            <small style="font-size: 7px;font-style: italic;">We're</small>
            <span class="fs-6">Closed</span>
        </div>
        <!-- <span [class.open]="cloudKitchen.open" [class.closed]="!cloudKitchen.open">{{cloudKitchen.open?
            "Open":"Closed"}}</span> -->
    </div>
    <div class="sm flex-row jcc aic w-100 my-1">
        <div class="clickable-row" style="font-size: 12px;" (click)="selectLayout('Reviews')">
            <fa-icon [icon]="faStar"></fa-icon>
            <span style="padding-left: 6px;">{{cloudKitchen.rating}}</span>
            <span style="padding-left: 6px;">({{cloudKitchen.reviews}}
                reviews)</span>
        </div>
    </div>
    <div class="sm flex-row jcc aic w-100 my-1 gap-1">
        <ul class="list-horizontal">
            <li *ngFor="let cuisine of cloudKitchen.cuisines | slice:0:3">{{ cuisine.name }}
            </li>
        </ul>
    </div>
    <div class="sm flex-column h-100 my-1 mb-200">
        <ng-container [ngSwitch]="activeLayout">
            <ng-container *ngSwitchCase="'Menu'" [ngTemplateOutlet]="menuLayout"></ng-container>
            <ng-container *ngSwitchCase="'Reviews'" [ngTemplateOutlet]="reviewsLayout"></ng-container>
            <ng-container *ngSwitchCase="'Info'" [ngTemplateOutlet]="infoLayout"></ng-container>
            <ng-container *ngSwitchCase="'Party'" [ngTemplateOutlet]="partyLayout"></ng-container>
        </ng-container>
    </div>

    <ng-container class="sm" [ngTemplateOutlet]="mobileMenuBar"></ng-container>

    <div class="lg row">
        <div class="col-md-8" style=" min-height: 100vh;overflow-y: auto; margin-bottom: 100px;">
            <div class="flex-row jcc ais">
                <div style="height: 220px;width: 200px;">
                    <img src="{{cloudKitchen.image}}" style="object-fit: contain;height: 100%; width: 100%;border-radius: 12px;">
                </div>
                <div class="flex-column gap-1 ml-2 pt-2">
                    <div class="clickable-row" style="font-size: 12px;" (click)="selectLayout('Reviews')">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <span style="padding-left: 6px;">{{cloudKitchen.rating}}</span>
                        <span style="padding-left: 6px;">({{cloudKitchen.reviews}}
                            reviews)</span>
                    </div>
                    <div class="flex-row">
                        <span *ngIf="cloudKitchen.preOrderOnly" class="attribute">PrefoodOrder Only</span>
                    </div>

                    <span class="py-1 px-1 f-size-s lg">{{cloudKitchen.description}}</span>
                    <span class="my-1 bolder">Cuisines</span>
                    <ul class="list-horizontal">
                        <li *ngFor="let cuisine of cloudKitchen.cuisines | slice:0:3">{{ cuisine.name }}
                        </li>
                    </ul>
                    <div class="flex-column" *ngIf="cloudKitchen.doDelivery">
                        <span class="bg-light-green px-2">Home Delivery</span>
                        <div class="flex-row gap-3" *ngIf="cloudKitchen.freeDeliveryOver > 0">
                            <span class="my-1 bolder">Free delivery</span>
                            <span>Order over
                                {{cloudKitchen.freeDeliveryOver |
                                currency: 'GBP'}}</span>
                        </div>
                    </div>
                    <div *ngIf="!cloudKitchen.doDelivery" style="padding: 5px 0;">
                        <span class="bg-light-green px-2">Collection Only</span>
                    </div>
                    <!-- <ng-container [ngTemplateOutlet]="menuBar"></ng-container> -->
                </div>
            </div>

            <ng-container [ngSwitch]="activeLayout">
                <ng-container *ngSwitchCase="'Menu'" [ngTemplateOutlet]="menuLayout"></ng-container>
                <ng-container *ngSwitchCase="'Reviews'" [ngTemplateOutlet]="reviewsLayout"></ng-container>
                <ng-container *ngSwitchCase="'Info'" [ngTemplateOutlet]="infoLayout"></ng-container>
                <ng-container *ngSwitchCase="'Party'" [ngTemplateOutlet]="partyLayout"></ng-container>
            </ng-container>
        </div>
        <div class="col-md-4">
            <app-basket [standAlone]="false" [eventDate]="eventDate"></app-basket>
        </div>
    </div>

</div>

<div class="flex-row jcc aic " *ngIf="incorrectLanding">
    <div class="p-5 my-3 flex-column jcc aic bg-dark br-12">
        <span class="fs-1 color-brand">Sorry, we didn't catch that...</span>
        <p class="color-white">We couldn't find that page. Please enter your area and search for a HomeChef – we have plenty to choose from
            <a href="/ck/home">Lets Go</a>
        </p>
    </div>
</div>

<ng-template #mobileMenuBar>
    <div class="sticky-footer flex-row gap-3 bg-white border-top jcsb jcc aic px-3">
        <!-- <div class="flex-row icon-text">
            <fa-icon [icon]="faBag" class="basket" [routerLink]="['/ck/basket']"></fa-icon>
            <span class="btn-circle" style="position: relative;
                top: -19px;
                left: -5px;
                background: #f5f5f5;">{{itemsInCart}}</span>
        </div> -->
        <div class="flex-column jcc aic p-3 icon-text" (click)="selectLayout('Info')" [class.icon-text-selected]="activeLayout === 'Info'">
            <fa-icon [icon]="faHouse"></fa-icon>
            <small>Home</small>
        </div>
        <div class="flex-row jcc aic">
            <div class="flex-column jcc aic icon-text" [routerLink]="['/ck/basket']">
                <fa-icon [icon]="faBag"></fa-icon>
                <small>Bag</small>
            </div>
            <span *ngIf="itemsInCart > 0" class="badge">{{itemsInCart}}</span>
        </div>


        <div class="flex-column jcc aic p-3 icon-text" (click)="selectLayout('Menu')" [class.icon-text-selected]="activeLayout === 'Menu'">
            <fa-icon [icon]="faMenu"></fa-icon>
            <small>Menu</small>
        </div>
        <div class="flex-column jcc aic p-3 icon-text" (click)="selectLayout('Reviews')" [class.icon-text-selected]="activeLayout === 'Reviews'">
            <fa-icon [icon]="faComments"></fa-icon>
            <small>Reviews</small>
        </div>
    </div>
</ng-template>
<ng-template #menuBar>
    <div class="flex-row w-100 my-1 p-1 border-top jcc aic">
        <b (click)="selectLayout('Menu')" [class.selectedMenu]="activeLayout === 'Menu'" class="menu">Menu</b>
        <b (click)="selectLayout('Reviews')" [class.selectedMenu]="activeLayout === 'Reviews'" class="menu mx-2 px-3">Reviews
            ({{reviews.length}})</b>
        <b (click)="selectLayout('Info')" [class.selectedMenu]="activeLayout === 'Info'" class="menu mx-2 px-3">Info</b>
        <b (click)="openModal(partyModal)" [class.selectedMenu]="activeLayout === 'Party'" class="menu mx-2 px-3">Party</b>
    </div>
</ng-template>
<ng-template #noItemsBlock>
    <div class="alert alert-info p-5" style=" margin-top: 10px;display: flex;flex-direction: column; gap: 0.1rem;align-items: center;">
        <fa-icon [icon]="faBatteryEmpty" class="fa-2xl" style="opacity: 0.1;"></fa-icon>
        <span style="margin-top: 10px;font-weight: 900;">
            YOUR BASKET IS EMPTY
        </span>
        <br>
        <span>What are you feeling today?</span>
        <span>Checkout our Home Chefs</span>
    </div>
</ng-template>

<ng-template #itemsBlock>
    <div class="flex-column jcc aic border-bottom mb-2">
        <div *ngIf="foodOrder && foodOrder.partyOrder" class="flex-row jcsb w-100 aic gap-1">
            <span class="bolder">Event</span>
            <div class="input-group">
                <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="eventDate" ngbDatepicker #d="ngbDatepicker" />
                <fa-icon [icon]="faCalendar" (click)="d.toggle()" class="border br-tr-7 br-br-7 p-2 clickable-icon"></fa-icon>
            </div>
            <ngb-timepicker [(ngModel)]="eventTime" />
        </div>
        <ng-container [ngTemplateOutlet]="foodOrderSummary"></ng-container>
        <div style="display: flex;flex-direction: column;width: 100%;padding: 5px;">
            <div *ngIf="foodOrder?.items && foodOrder.items.length > 0">
                <app-f-order-item *ngFor="let item of foodOrder.items" [item]="item"></app-f-order-item>
            </div>
            <div *ngIf="foodOrder?.partyItems && foodOrder?.partyItems.length > 0">
                <app-f-order-item *ngFor="let item of foodOrder.partyItems" [partyItem]="item"></app-f-order-item>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #NoItemsInCategory>
    <span class="d-flex jcc aic py-2">
        No items to display
    </span>
</ng-template>
<ng-template #ItemsInCategory>
    <div style="padding: 10px;">
        <app-food-item *ngFor="let menu of items_to_display" [menu]="menu" [displayDescription]="true">
        </app-food-item>
    </div>
</ng-template>

<ng-template #foodOrderSummary>
    <div class="flex-column border-bottom mb-2 w-100 py-2">
        <div class="flex-row-space-between">
            <span>Subtotal</span>
            <span>{{foodOrder.subTotal | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Delivery fee</span>
            <span>{{foodOrder.deliveryFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Packing fee</span>
            <span>{{foodOrder.packingFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Service Fee</span>
            <span>{{foodOrder.serviceFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between" style="margin-top: 10px;">
            <span style="font-weight: 900;">TOTAL</span>
            <span style="font-weight: 900;">{{foodOrder.total | currency:
                'GBP'}}</span>
        </div>
    </div>
</ng-template>

<ng-template #reviewsLayout>
    <div class="flex-column">
        <div class="flex-row my-2 jcc aic">
            <strong class="ml-2">Want to write a review ? </strong>
            <button class="btn-lift btn-sm mx-3" [routerLink]="['/write_review']" [queryParams]="{kitchen: supplierId}">Write
                Review</button>
        </div>
        <div *ngIf="reviews !== null && reviews !== undefined &&  reviews.length > 0" style="max-height: 300px;overflow-y: auto;">
            <app-review-item *ngFor="let r of reviews" [review]="r"></app-review-item>
        </div>
        <div *ngIf="reviews === null || reviews === undefined ||  reviews.length === 0">
            <span>No Reviews Yet</span>
        </div>
    </div>
</ng-template>
<ng-template #infoLayout>
    <div class="flex-column mb-200">
        <div class="border flex-column py-2 px-3 br-12 my-2">
            <b class="fs-6 py-2">Food hygiene rating</b>
            <div class="d-flex aic gap-1">
                <div class="flex-grow">
                    <img src="/assets/images/fhis.png" height="40px" width="100px">
                </div>
                <div class="flex-grow flex-column ml-2">
                    <span>
                        Rating by the Food Standards Agency and your local
                        authority. This rating may have changed.
                    </span>
                    <span>
                        For more information
                    </span>
                    <span>
                        Last inspection 02/08/2023
                    </span>
                </div>
            </div>
        </div>
        <div class="border flex-column py-2 px-3 br-12 my-2">
            <b class="fs-6 py-2">A little bit about us</b>
            <p>{{cloudKitchen.description}}</p>
        </div>
        <div class="border flex-column py-2 px-3 br-12 my-2">
            <b class="fs-6 py-2">Where to find us</b>
            <div class="flex-row fs-7">
                <span>{{cloudKitchen.address.addressLine1}}</span>
                <span class="pl-1">{{cloudKitchen.address.addressLine2}}</span>
            </div>
            <div class="flex-row fs-7">
                <span>{{cloudKitchen.address.city}}</span>
                <span class="pl-1">{{cloudKitchen.address.postcode}}</span>
            </div>
        </div>
        <div class="border flex-column py-2 px-3 br-12 my-2">
            <b class="fs-6 py-2">Allergen Advice</b>
            <span class="py-1" *ngFor="let item of cloudKitchen.allergenAdvice">{{item}}</span>
        </div>
        <div class="border flex-column py-2 px-3 br-12 my-2">
            <b class="fs-6 py-2">Collection Timings</b>
            <span class="py-1" *ngFor="let item of cloudKitchen.collectionTimings">{{item}}</span>
        </div>
        <div class="border flex-column py-2 px-3 br-12 my-2">
            <b class="fs-6 py-2">Party Orders</b>
            <span class="py-1" *ngFor="let item of cloudKitchen.partyDescription">{{item}}</span>
        </div>
    </div>
</ng-template>

<ng-template #menuLayout>
    <!-- <div class="scroll-container">
        <div class="arrow-icon-div" (click)="scrollLeft()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </div>
        <div #widgetsContent style="display: flex;width: 415px;padding: 10px;overflow-x: hidden;white-space: nowrap;">
            <span *ngFor="let c of collections" class="select-span" (click)="onSelectCategory(c)" [class.selectedCal]="c?.name === selectedCategory?.name">{{c?.name}}</span>
        </div>
        <div class="arrow-icon-div" (click)="scrollRight()">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </div>
    </div> -->
    <div class="flex-column">
        <div class="flex-column">
            <div class="flex-column" *ngFor="let c of collections">
                <div class="d-flex jcsb aic p-2 border-bottom">
                    <span class="bolder">{{c?.name}}</span>
                    <fa-icon class="btn-circle" *ngIf="selectedCategory === null || selectedCategory.name !== c.name" [icon]="faAngleDown" (click)="onSelectCategory(c)"></fa-icon>
                    <fa-icon class="btn-circle" *ngIf="selectedCategory === c" [icon]="faAngleUp" (click)="onSelectCategory(null)"></fa-icon>
                </div>
                <div class="flex-column" *ngIf="selectedCategory && selectedCategory.name === c.name">
                    <ng-container [ngTemplateOutlet]="ItemsInCategory"></ng-container>
                </div>
            </div>
        </div>
        <!-- <span  class="select-span" (click)="onSelectCategory(c)" [class.selectedCal]="c?.name === selectedCategory?.name">{{c?.name}}</span> -->
    </div>

    <div *ngIf="displayCal && calendars" class="flex-column">
        <div class="flex-row jcc aic">
            <div [class.selectedCal]="calendar.date === calendarToDisplay.date" class="flex-column jcc aic btn-circle mx-2 p-4" *ngFor="let calendar of calendars;" (click)="selectCalendar(calendar)">
                <span class="bold">{{calendar.date| date: 'E':'EST'}}</span>
                <span class="bold">{{calendar.date| date: 'd':'EST'}}</span>
            </div>
        </div>

        <div *ngIf="calendarToDisplay" class="flex-column">
            <app-food-item *ngFor="let food of calendarToDisplay.foods" [menu]="food" [displayDescription]="true" [readyBy]="calendarToDisplay.date"></app-food-item>
        </div>
    </div>
</ng-template>

<ng-template #partyLayout>
    <div class="flex-column">
        <app-food-item *ngFor="let pb of partyBundles" [pb]="pb"></app-food-item>
    </div>
</ng-template>

<ng-template #partyModal let-modal>
    <div class="modal-header d-flex jcsb aic">
        <span class="bolder fs-6">Start Party foodOrder</span>
        <button type="button" class="btn-modal-close" aria-label="Close" (click)="close()">X</button>
    </div>
    <div class="modal-body jcc" style="height: 350px;">
        <div class="p-2 w-100">
            <div class="flex-row jcsb aic">
                <div class="flex-column">
                    <span class="bolder">Event Date</span>
                    <div class="input-group">
                        <input class="form-control" [minDate]="minDate" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="eventDate" ngbDatepicker #d="ngbDatepicker" />
                        <fa-icon [icon]="faCalendar" (click)="d.toggle()" class="border br-tr-7 br-br-7 p-2 clickable-icon"></fa-icon>
                    </div>
                </div>
                <div class="flex-column">
                    <span class="bolder mt-3">Delivery Time</span>
                    <ngb-timepicker [(ngModel)]="eventTime" />
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="eventDate" class="modal-sticky-footer flex-column" style="margin: 10px;padding: 10px;gap:.6rem;">
        <button type="button" class="btn-9" (click)="selectLayout('Party')">Check our Party Menu</button>
    </div>

</ng-template>