.selectedCal {
    background-color: #868080;
    color: var(--brand-color);
}

.icon-text {
    border: #fff;
}

.icon-text:hover {
    color: var(--orange);
    cursor: pointer;
}

.icon-text:active {
    color: var(--orange);
}

.icon-text-selected {
    color: var(--orange);
}

::ng-deep .modal-content {
    border: none;
    z-index: 9999999;
    border-radius: 0;
}

::ng-deep .modal-dialog {
    /* min-width: 800px; */
}

.crop {
    overflow: hidden;
    display: block;
  }