.mobile-nav {
    min-width: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    height: 40px;
    background-color: aliceblue;
    margin-top: 10px;
}

.scroll-right,
.scroll-left {
    margin: 10px;
    height: 30px;
    width: 30px;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.scroll-right:hover {
    cursor: pointer;
    background-color: var(--white);
}

.scroll-left:hover {
    cursor: pointer;
    background-color: var(--white);
}