<div class="container-fluid flex-column">
    <div class="flex-row aic my-2">
        <fa-icon *ngIf="standAlone" [icon]="faArrowLeft" class="btn-circle" (click)="goback()"></fa-icon>
        <span class="bolder fs-3 ml-5">Your Cart</span>
    </div>
    <div *ngIf="foodOrder && foodOrder.items.length > 0" class="felx-column border br-7 p-3 my-3">
        <div class="flex-row jcsb aic py-2">
            <div class="bolder fs-5">Your food basket</div>
            <fa-icon [icon]="faTrash" class="btn-trash" title="Delete Order" (click)="deleteOrder(foodOrder)"></fa-icon>
        </div>

        <ng-container [ngTemplateOutlet]="foodItems"></ng-container>
        <ng-container [ngTemplateOutlet]="foodOrderSummary"></ng-container>
        <div class="flex-row jcsb aic py-2">
            <div class="flex-row jcc aic">
                <div style="height: 60px;width: 60px;">
                    <img src="{{foodOrder.supplier.image}}" style="object-fit: cover;
                    max-height: 58px;
                    height: 58px;
                    width: 60px;
                    max-width: 60px;">
                </div>
                <span class="fs-6 ml-2" [routerLink]="[ '/f/chef', foodOrder.supplier]">{{foodOrder.supplier.tradingName}}</span>
            </div>
            <button type="button" class="btn-12 my-2" [routerLink]="[ '/f/checkout']">Checkout</button>
        </div>

    </div>
    <div *ngIf="partyOrder && partyOrder.partyItems.length > 0" class="felx-column border br-7 p-3 my-3">
        <div class="flex-row jcsb aic py-2">
            <div class="bolder fs-5">Your party basket</div>
            <fa-icon [icon]="faTrash" class="btn-trash" title="Delete Order" (click)="deleteOrder(partyOrder)"></fa-icon>
        </div>
        <div class="flex-row aic jcc">
            <span>Event on</span>
            <span>{{partyOrder.partyDate | date : 'EE d LLL'}}</span>
        </div>
        <ng-container [ngTemplateOutlet]="partyItems"></ng-container>
        <ng-container [ngTemplateOutlet]="partyOrderSummary"></ng-container>
        <div class="flex-row jcsb aic py-2">
            <div class="flex-row jcc aic">
                <div style="height: 60px;width: 60px;">
                    <img src="{{partyOrder.supplier.image}}" style="object-fit: cover;
                    max-height: 58px;
                    height: 58px;
                    width: 60px;
                    max-width: 60px;">
                </div>
                <span class="fs-6 ml-2" [routerLink]="[ '/f/chef', partyOrder.supplier]">{{partyOrder.supplier.tradingName}}</span>
            </div>
            <button type="button" class="btn-12 my-2" [routerLink]="[ '/f/checkout']">Checkout</button>
        </div>
    </div>

    <div class="p-3 border br-7 mx-2" *ngIf=" (!foodOrder || foodOrder?.items.length === 0)  && (!partyOrder || partyOrder?.partyItems.length === 0)">
        <span>You have no items in your basket</span>
    </div>

</div>

<ng-template #elseBlock>
    <div style="margin-top: 100px;display: flex;flex-direction: column;gap: 1rem;justify-content: center;align-items: center;width: 100%;">
        <fa-icon [icon]="faBatteryEmpty" class="fa-2xl" style="opacity: 0.1;"></fa-icon>
        <!-- <img src="/assets/icons/shopping-basket.png" height="100px" width="100px" style="opacity: 0.1;"> -->
        <span style="margin-top: 50px;font-weight: 900;">
            YOUR BASKET IS EMPTY
        </span>
        <p>What are you feeling today? Checkout our Home Cooks</p>
    </div>
</ng-template>

<ng-template #foodItems>
    <div class="flex-column w-100">
        <app-f-order-item *ngFor="let item of foodOrder.items" [item]="item"></app-f-order-item>
    </div>
</ng-template>

<ng-template #partyItems>
    <div class="flex-column w-100">
        <app-f-order-item *ngFor="let item of partyOrder.partyItems" [partyItem]="item"></app-f-order-item>
    </div>
</ng-template>

<ng-template #foodOrderSummary>
    <div class="flex-column border-bottom mb-2 w-100 py-2">
        <div class="flex-row-space-between">
            <span>Subtotal</span>
            <span>{{foodOrder.subTotal | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Delivery fee</span>
            <span>{{foodOrder.deliveryFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Packing fee</span>
            <span>{{foodOrder.packingFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Service Fee</span>
            <span>{{foodOrder.serviceFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between" style="margin-top: 10px;">
            <span style="font-weight: 900;">TOTAL</span>
            <span style="font-weight: 900;">{{foodOrder.total | currency:
                'GBP'}}</span>
        </div>
    </div>
</ng-template>

<ng-template #partyOrderSummary>
    <div class="flex-column border-bottom mb-2 w-100 py-2">
        <div class="flex-row-space-between">
            <span>Subtotal</span>
            <span>{{partyOrder.subTotal | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Delivery fee</span>
            <span>{{partyOrder.deliveryFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Packing fee</span>
            <span>{{partyOrder.packingFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Service Fee</span>
            <span>{{partyOrder.serviceFee | currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between" style="margin-top: 10px;">
            <span style="font-weight: 900;">TOTAL</span>
            <span style="font-weight: 900;">{{partyOrder.total | currency:
                'GBP'}}</span>
        </div>
    </div>
</ng-template>