<div class="container-fluid">
    <div *ngIf="error" class="error-page alert alert-warning p-5 m-5">
        <span>{{errorMessage}}</span>
    </div>
    <div class="flex-row py-2 aic">
        <fa-icon [icon]="faArrowLeft" (click)="goBack()" class="btn-circle mr-3"></fa-icon>
        <span class="bolder fs-3">{{ad?.title}}</span>
    </div>
    <div class="sm flex-column" style="margin-bottom: 100px;">

        <ngb-carousel *ngIf="ad?.gallery">
            <ng-template ngbSlide *ngFor="let gallery of ad?.gallery">
                <img src={{gallery.url}} style="object-fit: cover;height: 100%; width: 100%;" />
            </ng-template>
        </ngb-carousel>
        <div class="asfs p-4 bg-white br-7 flex-column flex-grow my-3">
            <div class="py-2 flex-column asfs ">
                <span class="bolder py-2 ">Posted By</span>
                <span class="py-1 mb-3 ">{{ad?.adOwner?.name}}</span>
                
            </div>
            <div class="flex-row w-100 jcsb aic py-2">
                <div class="flex-row gap-2">
                    <fa-icon [icon]="faLocation" class="color-y"></fa-icon>
                    <span class="card-title bold">{{ad?.address?.city | titlecase}}</span>
                </div>
                <span class="fs-6 bold ">{{ad?.price |
                    currency:'GBP'}}</span>
            </div>
            <div class="flex-row w-100 jcsb aic ">
                <span><b>Posted</b> {{ad?.datePosted | dateAgo}}</span>
                <span><b>Available from </b>{{ad?.dateAvailable | date:
                    'dd MMM'}}</span>
            </div>
            <ng-container [ngTemplateOutlet]="infoSection "></ng-container>
            <div class="sticky-footer d-flex jcc aic py-3 border bg-white">
                <span *ngIf="!user " [routerLink]="[ '/login'] " [queryParams]="{returnUrl: returnUrl} "
                class="btn-solid text-center">Login to send enquiry</span>
                <app-contact-form *ngIf="user " [user]="user " [ad]="ad "></app-contact-form>
            </div>
           
        </div>
    </div>
    <div class="lg flex-row gap-3">
        <div class="flex-column">
            <!-- <div class="flex-column flex-grow" style="min-height: 100vh;overflow-y: auto; margin-bottom: 100px;">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let gallery of ad?.gallery ">
                        <div>
                            <img [src]="gallery.url" />
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div> -->
            <div>
                <img [src]="display_picture" style="height: 500px; width:500px;object-fit: contain;">
            </div>
            <div class="flex-row gap-2 my-3">
                <img [src]="gallery.url" *ngFor="let gallery of ad?.gallery " style="height: 60px; width:60px;object-fit: cover;" (click)="displayPicture(gallery.url)">
            </div>
        </div>
        <div>
            <div class="asfs p-4 bg-white br-7 flex-column flex-grow">
                <div class="py-2 flex-column asfs ">
                    <span class="bolder py-2 ">Posted By</span>
                    <span class="py-1 mb-3 ">{{ad?.adOwner.name}}</span>
                   
                </div>
                <div class="flex-row w-100 jcsb aic py-2">
                    <div class="flex-row gap-2">
                        <fa-icon [icon]="faLocation" class="color-y"></fa-icon>
                        <span class="card-title bold">{{ad?.address?.city | titlecase}}</span>
                    </div>
                    <span class="fs-6 bold ">{{ad?.price |
                        currency:'GBP'}}</span>
                </div>
                <div class="flex-row w-100 jcsb aic ">
                    <span><b>Posted</b> {{ad?.datePosted | dateAgo}}</span>
                    <span><b>Available from </b>{{ad?.dateAvailable | date:
                        'dd MMM'}}</span>
                </div>
                <ng-container [ngTemplateOutlet]="infoSection "></ng-container>
                <div class="my-3">
                    <span *ngIf="!user " [routerLink]="[ '/login'] " [queryParams]="{returnUrl: returnUrl} "
                    class="btn-solid text-center">Login to send enquiry</span>
                    <app-contact-form *ngIf="user " [user]="user " [ad]="ad "></app-contact-form>
                </div>
               
            </div>
        </div>
        
        
    </div>
</div>

<ng-template #infoSection>
    <div class="flex-column ">
        <span class="bolder py-2 ">Description</span>
        <span class="py-1 " *ngFor="let item of ad?.description ">{{item}}</span>
    </div>
</ng-template>