.menu-item-layout {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.menu-item-layout>img {
    display: none;
}

.item-name {
    font-weight: 500;
    color: #242e30;
    padding: 0 0 10px 0;
}

.price {
    font-weight: 500;
    font-size: 13px;
    color: var(--d-red);
}

.menu-item-layout:hover {
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.spice {
    opacity: 0.1;
    height: 15px;
    width: 15px;
}

.selectedSpice {
    opacity: 1;
}

::ng-deep .modal-content {
    /* border-radius: 25px; */
    border: none;
    z-index: 99;
}

::ng-deep .modal-body {
    overflow-y: auto;
}

.modal-title {
    text-align: center;
}

.qty-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 2px solid #fff;
}

.qty-btn-container:hover {
    cursor: pointer;
    border: 2px solid var(--green);
}

.qty-value {
    font-size: 16px;
    margin: 0 10px;
    font-weight: 600;
}

.btn-add-to-order {
    background-color: #46bb4c;
    width: 100%;
    padding: 0 20px;
    color: #fff;
}

.btn-add-to-order:hover {
    cursor: pointer;
    background-color: #2fad35;
}

.disabled{
    background-color: #f2f2f2;
}


/* Customize the label (the container) */

.check-div {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -11px;
    left: -14px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: solid gray 1px;
    border-radius: 4px;
}


/* When the checkbox is checked, add a blue background */

.check-div input:checked~.checkmark {
    background-color: #19cb4c;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.check-div input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.check-div .checkmark:after {
    left: 0.4rem;
    top: 0.2rem;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* Desktop */

@media (min-width: 400px) {
    .menu-desc {
        display: block;
        word-wrap: break-word;
        padding: 0;
    }
    .menu-item-layout>img {
        display: inline-block;
        height: 100px;
        object-fit: cover;
        transition: 0.5s ease-in-out;
    }
    .menu-item-layout>img:hover {
        cursor: pointer;
        transform: scale(1.08);
    }
}