<script>
    var firstTabEl = document.querySelector('#myTab li:last-child a')
    var firstTab = new bootstrap.Tab(firstTabEl)
  
    firstTab.show()
  </script>
  <div class="container" *ngIf="property">
  
    <div class="flex-start">
      <img src="/assets/icons/left-arrow-long.png" height="15px" width="15px" style="margin-top: 8px;">
      <button (click)="backToResults()" class="btn btn-link align-self-start"><strong>Back to search
          results</strong></button>
    </div>
    <div class="title-section flex-between">
      <div class="flex-column">
        <h2 class="property-title">{{ property?.title }}</h2>
        <span class="property-address">{{ property?.address?.addressLine1 }}, {{ property?.address?.city }}, {{
          property?.address?.postcode }}</span>
      </div>
      <div class="flex-column">
        <h4 class="property-price">{{ property?.price | currency : 'GBP' }}</h4>
        <!-- <span class="price-quote">{{property?.consumptionType ==='Sale'? property?.pri.quote : property?.rental.quote}}</span> -->
      </div>
    </div>
    <div class="d-flex flex-start">
      <div class="left flex-column">
        <div class="image-section">
          <img src={{display_picture}} width="100%" height="100%" loading="lazy" alt="{{property?.title}}"
            class="main-picture">
          <!-- <div class="flex-start thumbnail-div">
              <img src={{g}} width="100%" height="100%" loading="lazy" alt="{{property?.title}}" class="thumbnail-picture"
                *ngFor="let g of gallery" (click)="displayPicture(g)">
            </div> -->
          <div class="thumbnail-div scroll-container d-flex justify-content-start py-1">
            <img src="/assets/icons/left-arrow.png" alt="" loading="lazy" class="scroll-left" (click)="scrollLeft()">
            <div #widgetsContent class="custom-slider-main">
              <img src={{g}} width="100%" height="100%" loading="lazy" alt="{{property?.title}}"
                class="thumbnail-picture space-around mx-2" *ngFor="let g of property.gallery" (click)="displayPicture(g)">
            </div>
            <img src="/assets/icons/right-arrow.png" alt="" loading="lazy" class="scroll-right" (click)="scrollRight()">
          </div>
        </div>
        <div class="flex-between feature-section">
          <div class="flex-column">
            <span class="feature-title">PROPERTY TYPE</span>
            <div class="flex-start">
              <img src="/assets/icons/home.png" class="feature-icon">
              <span class="feature-value">{{property?.type}}</span>
            </div>
          </div>
          <div class="flex-column">
            <span class="feature-title">BEDROOMS</span>
            <div class="flex-start">
              <img src="/assets/icons/bed.png" class="feature-icon">
              <span class="feature-value"> X{{property?.bedrooms}}</span>
            </div>
          </div>
          <div class="flex-column">
            <span class="feature-title">BATHROOMS</span>
            <div class="flex-start">
              <img src="/assets/icons/bathtub.png" class="feature-icon">
              <span class="feature-value">X{{property?.bathrooms}}</span>
            </div>
          </div>
        </div>
        <div
          *ngIf="property.keyFeatures  && property.keyFeatures?.length > 0"
          class="key-feature-section flex-column">
          <h5 class="section-header">Key features</h5>
          <div class="flex-start wrap py-1">
            <span *ngFor="let d of property.keyFeatures" class="property-key-feature-text">{{d}}</span>
          </div>
        </div>
        <div class="feature-section flex-column" *ngIf="property.stations  && property.stations?.length > 0">
          <h5 class="section-header">Stations</h5>
          <div class="flex-start wrap py-1" *ngFor="let st of property?.stations">
            <img src="/assets/icons/1200px-NationalRail.svg.png" class="train-icon"> <strong
              class="station-name">{{st.name}}</strong> :
            <span class="station-distance">{{st.value}}</span>
          </div>
        </div>
        <div class="feature-section flex-column"
          *ngIf="property.schools && property.schools?.length !== 0">
          <h5 class="section-header">Schools</h5>
          <div class="flex-start wrap py-1" *ngFor="let school of property?.schools">
            <img src="/assets/icons/school.png" class="train-icon"> <strong class="school-name">{{school.name}}</strong> :
            <span class="school-distance">{{school.distance}}</span>
          </div>
        </div>
  
        <div class="feature-section flex-column"
          *ngIf="property.hospitals && property?.hospitals?.length !== 0">
          <h5 class="section-header">Hospitals</h5>
          <div class="flex-start wrap py-1" *ngFor="let hospital of property?.hospitals">
            <img src="/assets/icons/hospital.png" class="train-icon"> <strong
              class="school-name">{{hospital.name}}</strong> :
            <!-- <span class="school-distance">{{hospital.distance}}</span> -->
          </div>
        </div>
  
        <div class="feature-section flex-column">
          <h5 class="section-header">Schools</h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button"
                role="tab" aria-controls="messages" aria-selected="false">Messages</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                role="tab" aria-controls="settings" aria-selected="false">Settings</button>
            </li>
          </ul>
  
          <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">H...</div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">P..</div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">M..</div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">S..</div>
          </div>
        </div>
  
      </div>
  
      <div class="right">
        <!-- <google-map #googleMap height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
          <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options"> -->
          <!-- </map-marker> -->
        <!-- </google-map> -->
        <hr>
        <div class="market-by-div flex-column box-shadow">
          <span class="marketted-by">MARKETED BY</span>
          <!-- <span class="marketted-by-contact-person">{{property?.contact.person}}</span> -->
          <span class="more-properties btn-link">More properties from this contact</span>
          <br>
          <button class="contact-button">Request Details</button>
          <!-- <span class="added-on">Added on {{property?.addedDate | date: 'dd/MM/yyyy' }}</span> -->
        </div>
        <div id="module">
          <h3 class="section-header">Property description</h3>
          <div class="collapse" id="collapseExample" aria-expanded="false">
            <span *ngFor="let d of property?.description" class="property-description-text">{{d}}</span>
          </div>
          <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
            aria-controls="collapseExample"></a>
        </div>
      </div>
    </div>
    <div style="height: 200px;"></div>
  </div>