<div class="side-nav-bar-content">
    <div *ngIf="user" class="flex-column jcc aic mb-5 p-3">
        <div class="flex-column jcc aic" style="font-weight: 900;height: 50px;width:50px;background-color: #81c408;border-radius:50%;justify-content:center;color:#fff;">
            <span style="font-size: 20px;">{{user.firstName | slice:0:1}}{{user.lastName | slice:0:1}}</span>
        </div>
        <span style="text-align: center;word-break: break-all;">{{user.name}}</span>
    </div>
    <div class="flex-column p-3">
        <span *ngIf="!user" class="navItem" routerLink="/login">Login</span>
        <span *ngIf="!user" class="navItem" routerLink="/register">Signup</span>

        <span *ngIf="user && !supplier" class="navItem" routerLink="/my_orders">My Orders</span>
        <span *ngIf="user && !supplier" class="navItem" routerLink="/my_ads">My Ads</span>

        <span *ngIf="user && supplier" class="navItem" routerLink="/kitchen/products">My Products</span>
        <span *ngIf="user && supplier" class="navItem" routerLink="/kitchen/settings">My Settings</span>
        <span *ngIf="user && supplier" class="navItem" routerLink="/kitchen/orders">My Orders</span>
        <span *ngIf="user && supplier" class="navItem" routerLink="/kitchen/home">My Business</span>
        <span *ngIf="user" class="navItem" routerLink="/my_messages">My Messages</span>
        <span class="navItem" routerLink="/contact_us">Become a partner</span>
        <span *ngIf="user && !supplier" class="navItem" routerLink="/my_profile">Profile</span>
    </div>

    <div *ngIf="user" style="position: absolute;bottom: 0;background-color: #f8f8f8;padding: 5px;border-top: 1px solid #d2d2d2;width: 100%;">
        <div class="flex-row jcc aic">
            <span *ngIf="user" class="navItem" (click)="logout()">Logout</span>
        </div>
    </div>

    <!-- <ul class="side-nav-bar-menu">
        <li *ngFor="let navItem of navItems" (click)="onNavigationSelection(navItem)" class="navItem">{{ navItem.label }}</li>
    </ul> -->
</div>