.side-nav-bar-content {
    flex: 1;
    height: 100vh;
    /* background-color: aquamarine; */
}

.navItem {
    padding: 10px 0;
    font-size: 15px;
}

.navSection{
    font-size: 15px;
    padding: 10px 0;
}


.navItem:hover {
    cursor: pointer;
    color: var(--green);
}