<div class="side-nav-bar-content">
    <div *ngIf="user" class="flex-column jcc aic mb-5">
        <div class="flex-column jcc aic" style="font-weight: 900;height: 50px;width:50px;background-color: var(--brand-color);border-radius:50%;justify-content:center;color:#fff;">
            <span style="font-size: 20px;">{{user.firstName | slice:0:1}}{{user.lastName | slice:0:1}}</span>
        </div>
        <span style="font-size: 20px;text-align: center;word-break: break-all;">{{user.name}}</span>
    </div>
    <div class="flex-column">
        <span *ngIf="!user" class="navItem" routerLink="/login">Login</span>
        <span *ngIf="!user" class="navItem" routerLink="/register">Signup</span>
        <span *ngIf="user" class="navItem" (click)="logout()">Logout</span>
        <span *ngIf="user" class="navItem" routerLink="/my_orders">Orders</span>
        <span class="navItem" routerLink="/contact_us">Become a partner</span>
        <span *ngIf="user" class="navItem" routerLink="/my_profile">Profile</span>
    </div>

    <!-- <ul class="side-nav-bar-menu">
        <li *ngFor="let navItem of navItems" (click)="onNavigationSelection(navItem)" class="navItem">{{ navItem.label }}</li>
    </ul> -->
</div>