<div class="container-fluid">
    <div class="flex-column">
        <div class="flex-row jcsb aic border-bottom ">
            <div class="flex-row aic">
                <div *ngIf="viewAd" class="arrow-icon-div" (click)="goBack()">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                </div>
                <span *ngIf="viewAd" class="py-2 fs-3 bolder">Your Ad
                    #{{viewAd.reference}}</span>
                <span *ngIf="!viewAd" class="py-2 fs-3 bolder">My Ads</span>
            </div>
            <span class="color-red f-size-md bold" *ngIf="viewAd">{{viewAd.price
                | currency: 'GBP'}}</span>
        </div>

        <div class="flex-column" *ngIf="!viewAd">
            <form>
                <div class="my-2 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text
                        search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                    </div>
                </div>
            </form>
            <div class="overflow-y height-500 w-100">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col">Reference</th>
                            <th scope="col">Price</th>
                            <th scope="col">Posted</th>
                            <th scope="col">Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ad of myAds$ | async; index as i" (click)="open(ad)">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>
                                <ngb-highlight [result]="ad.category" [term]="filter.value" />
                            </td>
                            <td>
                                <ngb-highlight [result]="ad.reference" [term]="filter.value" />
                            </td>
                            <td>
                                <ngb-highlight [result]="ad.price | currency: 'GBP' " [term]="filter.value" />
                            </td>
                            <td>
                                <ngb-highlight [result]="ad.datePosted | date " [term]="filter.value" />
                            </td>
                            <td>
                                <ngb-highlight [result]="ad.status | titlecase" [term]="filter.value" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <table class="styled-table">
                <thead>
                    <tr>
                      <th>Reference</th>
                      <th>Total</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="open(order)" *ngFor="let order of orders | orderByDate:'dateCreated':'desc'">
                        <td class="pl-2">{{order.reference}}</td>
                        <td class="pl-2">{{order.total | currency: 'GBP'}}</td>
                        <td class="pl-2">{{order.dateCreated | date }}</td>
                        <td class="pl-2">{{order.status | titlecase}}</td>
                    </tr>
                  </tbody>
            </table> -->
        </div>
        <div class="container mb-100" *ngIf="viewAd">
            <div class="row flex-row gap-1 mt-3">
                <div class="col-md-3">
                    <img *ngIf="!viewAd.image" src="/assets/images/default-image.jpeg" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
                    <img *ngIf="viewAd.image" src="{{viewAd.image}}" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
                </div>
                <div class="col-md-9 flex-column p-1">
                    <span class="bolder fs-4 py-2">{{viewAd.title}}</span>
                    <table>
                        <tr>
                            <th>Posted</th>
                            <td><span>{{viewAd.datePosted | date : 'EE d LLL' }}</span></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td><span class="fs-7 bold">{{viewAd.address.addressLine2}},
                                {{viewAd.address.city}}</span></td>
                        </tr>
                    </table>
                    <p class="mt-2">
                        {{viewAd.description}}
                    </p>
                </div>
            </div>
            <div class="sm footer d-flex jcsb aic py-3 px-2 border-top">
                <div class="flex-row">
                    <fa-icon [icon]="faEye">{{viewAd.views}}</fa-icon>
                </div>
                <button class="btn-9">Edit</button>
            </div>
        </div>
    </div>
</div>