<div class="container mb-5">
    <ng-container *ngIf="!user" [ngTemplateOutlet]="auth"></ng-container>
    <ng-container *ngIf="user && !postSuccessful" [ngTemplateOutlet]="postAdTemplate"></ng-container>
    <ng-container *ngIf="user && postSuccessful" [ngTemplateOutlet]="postConfirmation"></ng-container>
</div>

<ng-template #postAdTemplate>
    <div class="flex-column">
        <span class="bolder fs-1 mt-2 mb-4">Post an ad</span>

        <span class="bolder py-1">Tell us what you are posting</span>
        <select class="form-select mb-3 br-0" (change)="onChangeCategory($event)">
            <option default>Please select</option>
            <option value="Car">Car</option>
            <option value="Property">Property</option>
            <option value="Toys">Toys</option>
            <option value="Furniture">Furniture</option>
            <option value="Events">Events</option>
            <option value="Electronics">Electronics</option>
            <option value="Books">Books</option>
            <option value="Jobs">Jobs</option>
            <option value="Services">Services</option>
            <option value="Classes">Classes</option>
        </select>
        <div class="flex-column my-1">
            <span class="bolder py-1">Ad Location</span>
            <div class="bg-dark-grey br-25 py-2">
                <app-postcode-lookup (postcodeEmitter)="onSelectPostcode($event)"></app-postcode-lookup>
            </div>
            <div class="flex-row" *ngIf="postcodeDistrict">
                <span>{{postcodeDistrict.prefix}} {{postcodeDistrict.coverage}} {{postcodeDistrict.city}}</span>
            </div>
        </div>

        <!-- ImageKit Client Side Upload Working example-->
        <!-- <div class="flex-column my-2">
            <span class="bolder py-2">Upload Images <small
                    class="f-dim"><i>(Upto 5, Max file size
                        1MB)</i></small></span>
            <div class="flex-column p-3" style="border: 1px dashed #c3c0c0; border-radius: 12px;">
                <div class="flex-row aic">
                    <ik-upload (onError)="handleUploadError($event)" (onSuccess)="handleUploadSuccess($event)" [validateFile]="validateFileFunction" [authenticator]="authenticator" [onUploadStart]="onUploadStartFunction" [onUploadProgress]="onUploadProgressFunction"></ik-upload>
                    <span class="ml-3 bolder" *ngIf="uploading">Uploading...</span>
                </div>
                <div *ngIf="uploadedImages.length > 0" class="full-screen my-1 px-2 flex-row jcc pt-2">
                    <div class="flex-row-scrollable">
                        <div class="flex-column br-12 mr-1" style="width: 130px;height: 130px;border:1px solid #e2e2e2;" *ngFor="let img of uploadedImages">
                            <fa-icon [icon]="faTrash" class="asfe m-1" (click)="deleteFile(img)"></fa-icon>
                            <img src={{img.thumbnailUrl}} class="thumbnail">
                            <button class="btn-delete my-1" (click)="deleteImageKitFile(img)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="flex-column my-2">
            <span class="bolder py-2">Upload Images <small
                    class="f-dim"><i>(Upto 5, Max file size
                        1MB)</i></small></span>
            <div class="flex-column p-3" style="border: 1px dashed #c3c0c0;">
                <input type="file" accept="image/png,image/gif,image/jpg,image/jpeg" class="file-input" (change)="onChange($event)" #fileUpload />
                <div class="flex-column" *ngIf="myMap.size > 0">
                    <div class="full-screen my-1 px-2 flex-row jcc pt-2">
                        <div class="flex-row-scrollable">
                            <div class="br-12 mr-1" style="position:relative;min-width: 130px;min-height: 130px;max-width:130px;max-height: 130px;border:1px solid #e2e2e2;padding: 10px;" *ngFor="let file of myMap | keyvalue">

                                <div class="d-flex trashIcon">
                                    <fa-icon [icon]="faTrash" (click)="deleteFile(file.key)"></fa-icon>
                                </div>

                                <!-- <img src={{img.thumbnailUrl}} class="thumbnail"> -->
                                <img [src]="file.value" class="preview">
                                <!-- <button class="btn-delete my-1" (click)="deleteFile(img)">Delete</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="myMap.size > 0">
                <!-- <section class="file-info">
                    File details:
                    <ul>
                        <li>Name: {{file.name}}</li>
                        <li>Type: {{file.type}}</li>
                        <li>Size: {{file.size}} bytes</li>
                    </ul>
                </section> -->

                <!-- <button (click)="onUpload()">Upload the file</button> -->

                <section [ngSwitch]="status">
                    <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
                    <p *ngSwitchCase="'success'">✅ Done!</p>
                    <p *ngSwitchCase="'fail'">❌ Error!</p>
                    <p *ngSwitchDefault>😶 Ads with Images stands out</p>
                </section>
            </div>
        </div>

        <!-- <div class="flex-column p-2 border">
            <div class="row">
                <div class="col-md-8">
                    <label class="btn btn-default p-0">
                        <input type="file" accept="image/*"
                            (change)="selectFile($event)" />
                    </label>
                </div>

                <div class="col-md-4">
                    <button class="btn btn-success btn-sm float-right" [disabled]="!selectedFiles" (click)="upload()">
                        Upload
                    </button>
                </div>
            </div>

            <div>
                <img [src]="preview" class="preview">
            </div>

            <div *ngIf="currentFile && progress" class="progress my-3">
                <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                    {{ progress }}%
                </div>
            </div>

            <div *ngIf="message" class="alert alert-secondary" role="alert">
                {{ message }}
            </div>

            <div class="card mt-3">
                <div class="card-header">List of Images</div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let image of imageInfos | async" class="list-group-item">
                        <p><a href="{{ image.url }}">{{ image.name }}</a></p>
                        <img src="{{ image.url }}" alt="{{ image.name }}" height="80px" />
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="flex-row aic my-2 gap-1" *ngIf="category==='Property'">
            <div class="flex-column">
                <span class="bolder py-1">Property Type</span>
                <select class="form-select mb-3" (change)="onChangePropertyType($event)">
                    <option default>Please select</option>
                    <option value="Flat">Flat</option>
                    <option value="Detached">Detached House</option>
                    <option value="Semi-detached">Semi-detached</option>
                    <option value="Terraced">Terraced House</option>
                    <option value="Car Park">Car Park</option>
                    <option value="Garage">Garage</option>
                    <option value="Commercial">Commercial</option>
                </select>
            </div>
            <div class="flex-column ml-3" *ngIf="category==='Property' && propertyType !== 'Garage' && propertyType !== 'Commercial'">
                <span class="bolder py-1">Property Tenure</span>
                <select class="form-select mb-3" (change)="onChangePropertyTenure($event)">
                    <option default>Please select</option>
                    <option value="Freehold">Freehold</option>
                    <option value="Lease">Lease</option>
                </select>
            </div>
        </div>

        <div class="flex-row aic my-2 gap-1" *ngIf="category==='Property' && propertyType !== 'Garage' && propertyType !== 'Commercial'">
            <div class="flex-column">
                <span class="bolder py-1">Bedrooms</span>
                <select class="form-select mb-3" (change)="onChangeBedrooms($event)">
                    <option default>Please select</option>
                    <option value="0">Studio</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="flex-column ml-3" *ngIf="category==='Property' && propertyType !== 'Garage' && propertyType !== 'Commercial'">
                <span class="bolder py-1">Bathrooms</span>
                <select class="form-select mb-3" (change)="onChangeBathrooms($event)">
                    <option default>Please select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>

        <div class="flex-column" *ngIf="category==='Property'">
            <span class="bolder py-1">Whats your intend?</span>
            <div class="radio-button-container my-2">
                <div class="radio-button">
                    <input type="radio" checked class="radio-button__input" id="Rent" name="radio-group" (change)="changePropertyConsumptionType($event)">
                    <label class="radio-button__label" for="Rent">
                        <span class="radio-button__custom"></span>
                        Rent
                    </label>
                </div>
                <div class="radio-button">
                    <input type="radio" class="radio-button__input" id="Sale" name="radio-group" (change)="changePropertyConsumptionType($event)">
                    <label class="radio-button__label" for="Sale">
                        <span class="radio-button__custom"></span>
                        Sale
                    </label>
                </div>
                <div class="radio-button">
                    <input type="radio" class="radio-button__input" id="Share" name="radio-group" (change)="changePropertyConsumptionType($event)">
                    <label class="radio-button__label" for="Share">
                        <span class="radio-button__custom"></span>
                        Share
                    </label>
                </div>
            </div>
        </div>
        <div class="flex-row aic gap-1 my-2" *ngIf="category==='Property' && (consumptionType === 'Share' || consumptionType === 'Rent')">
            <div class="flex-column">
                <span class="bolder py-1">Rental Amount</span>
                <div class="input-group">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input type="number" [(ngModel)]="price" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="rentalAmount" class="form-control" placeholder="Rental Amount">
                </div>
            </div>

            <div class="flex-column  w-50 ml-5">
                <span class="bolder py-1">Rental Period</span>
                <div class="radio-button-container my-2">
                    <div class="radio-button">
                        <input type="radio" checked class="radio-button__input" id="Monthly" name="radio-group" (change)="handleRentalPeriod($event)">
                        <label class="radio-button__label" for="Monthly">
                            <span class="radio-button__custom"></span>
                            Monthly
                        </label>
                    </div>
                    <div class="radio-button">
                        <input type="radio" class="radio-button__input" id="Weekly" name="radio-group" (change)="handleRentalPeriod($event)">
                        <label class="radio-button__label" for="Weekly">
                            <span class="radio-button__custom"></span>
                            Weekly
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row aic py-2 gap-2">
            <div class="flex-column my-2" *ngIf="category!=='Property'">
                <span class="bolder py-1">Your Price</span>
                <div class="input-group">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input [(ngModel)]="price" #ctrl="ngModel" type="number" min="0.00" step="1" value="1.00" id="propertySaleOffersOver" class="form-control" placeholder="Offers Over">
                </div>
            </div>
            <div class="flex-column my-2" *ngIf="category==='Property' && consumptionType === 'Sale' ">
                <span class="bolder py-1">Offers Over</span>
                <div class="input-group">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input [(ngModel)]="price" #ctrl="ngModel" type="number" min="0.00" step="1" value="1.00" id="propertySaleOffersOver" class="form-control" placeholder="Offers Over">
                </div>
            </div>
            <div class="flex-column my-2">
                <span class="bolder py-1">Date available</span>
                <div class="input-group">
                    <input type="text" class="form-control" [minDate]="minDate" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="dateAvailable" ngbDatepicker #d="ngbDatepicker" />
                    <fa-icon [icon]="faCalendar" (click)="d.toggle()" class="border br-tr-7 br-br-7 p-2 clickable-icon"></fa-icon>
                </div>
            </div>
        </div>

        <div class="flex-column">
            <span class="bolder py-1">Ad Title</span>
            <input class="border br-7 p-2" type="text" name="title" id="title" tabindex="1" autocomplete="off" value [(ngModel)]="title" #ctrl="ngModel">
        </div>
        <div class="flex-column">
            <span class="bolder py-1">Description</span>
            <textarea class="border br-7 p-2" name="description" id="description" value [(ngModel)]="description" tabindex="3" #ctrl="ngModel" style="height: 100px;" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
        </div>
        <div class="flex-row p-3 box-error my-2 aic jcc" *ngIf="error && errorMessage">
            <span>{{errorMessage}}</span>
            <button type="button" class="btn-text ml-5" (click)="closeAlert()">OK</button>
        </div>
        <div class="flex-row p-3 box-success my-2 aic jcc" *ngIf="adSubmitted">
            <span>Your ad has been submitted. It will appear on Posts once the
                it has been approved.</span>
            <button type="button" class="btn-text ml-5" (click)="closeAlert()">OK</button>
        </div>

        <div class="flex-row jcc aic my-3">
            <button class="btn-g my-2 px-5 py-2" (click)="postAd()">Post</button>
        </div>

    </div>
</ng-template>
<ng-template #postConfirmation>

    <div class="flex-column gap-1 p-3 bg-white br-7 my-3">
        <span class="bolder fs-4">Thanks for posting you ad</span>
        <span class="py-2">
            Your ad reference <b>{{postedAd.reference}}</b>
        </span>
        <span class="py-2">
            We moderate listings in order to follow safety practices, which can
            sometimes take a few hours. Once your ad
            has been approved, it will be available to view <a
                href="/my_ads">here</a>
        </span>
        <span>
            We will send a confirmation email to {{user.email}} which you can
            use to edit or delete your ad in future.
        </span>
        <div class="flex-row my-3">
            <button class="btn-plain" [routerLink]="['/my_ads']">Manage My
                Ads</button>
            <button class="btn-plain ml-3" (click)="postNewAd()">Post new ad</button>
        </div>

    </div>
</ng-template>

<ng-template #auth>
    <div class="flex-column p-3 border my-4">
        <div class="flex-row mb-2 border-bottom py-2 aic">
            <span>Do you have an account?</span>
            <!-- <span [routerLink]="['/login']" [queryParams]="{returnUrl: 'checkout'}" class="clickable ml-2">Login</span> -->
            <button type="button" [routerLink]="['/login']" [queryParams]="{returnUrl: '/ads/post'}" class="btn-solid px-3 ml-3">Login</button>
        </div>
        <div class="flex-row py-2 aic">
            <span>Don't have an account?</span>
            <!-- <span [routerLink]="['/register']" class="clickable ml-2">Signup</span> -->
            <button type="button" [routerLink]="['/register']" [queryParams]="{returnUrl: '/ads/post'}" class="btn-solid  px-3 ml-3">Signup</button>
        </div>
    </div>
</ng-template>