<div class="bg-white py-1 w-100 px-2">
    <div class="sm flex-row jcsb aic">
        <fa-icon [icon]="faBars" (click)="toggleSideNav()" class="menu-icon"></fa-icon>
        <div class="flex-row aic jcc logo-text" [routerLink]="['/']">
            <h2>zamoza</h2>
        </div>
        <span class="btn-plain" routerLink="/ads/post">Post an Ad</span>
    </div>
    <div class="lg flex-row jcsb aic">
        <div class="flex-row aic jcc logo-text" [routerLink]="['/']">
            <!-- <fa-icon [icon]="faSpa" class="fs-4"></fa-icon> -->
            <h2>zamoza</h2>
        </div>
        <div class="flex-row gap-1">

        </div>
        <div class="flex-row jcc aic gap-2">
            <span *ngIf="!user" class="link-plain mx-1" routerLink="/login">Login</span>
            <span *ngIf="!user" class="link-plain mx-2" routerLink="/register">Signup</span>
            <span *ngIf="!user" class="link-plain mx-1" routerLink="/contact_us">Become a partner</span>
            <!-- <fa-icon *ngIf="user" [icon]="faUser" class="color-g" size="2x"  (click)="toggleSideNav()" ></fa-icon> -->
            <span *ngIf="user" class="btn-plain"  (click)="toggleSideNav()" >{{user.name.trim().substring(0,10)}}</span>
            <!-- <div *ngIf="user" class="nav-item mr-1 br-25 p-2" ngbDropdown #myDrop="ngbDropdown">
                <span class="cursor-pointer font-courier bolder-g"  (click)="$event.stopPropagation(); myDrop.open()">{{user.firstName.trim().substring(0,10)}}</span>
                
                <div class="flex-row gap-1 jcc aic mx-1" (click)="$event.stopPropagation(); myDrop.open()">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <span class="bolder cursor-pointer">{{user.firstName.trim().substring(0,10)}}</span>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"></a>
                </div>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu py-2">
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/home">My Business</a>
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/orders">My Orders</a>
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/products">My Products</a>
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/settings">My Settings</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_orders">My Orders</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_ads">My
                        Ads</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_messages">My Messages</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_profile">Account Settings</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem routerLink="/contact_us">Contact Us</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem (click)="logout()">Logout</a>

                </div>
            </div> -->
            <span class="btn-plain" routerLink="/ads/post">Post an Ad</span>
        </div>
    </div>
</div>