<div class="container-fluid">
    <div class="sm flex-row jcsb aic py-2">
        <fa-icon [icon]="faBars" (click)="toggleSideNav()" class="menu-icon"></fa-icon>
        <div class="flex-row aic jcc logo-text" [routerLink]="['/']">
            <!-- <fa-icon [icon]="faSpa" class="fs-4"></fa-icon> -->
            <span class="logo-text">Oneway</span>
        </div>
        <button type="button" class="btn-13 br-25" routerLink="/ads/post">Post
            an Ad</button>
    </div>
    <div class="lg flex-row jcsb aic py-1">
        <div class="flex-row aic jcc" [routerLink]="['/']">
            <!-- <fa-icon [icon]="faSpa" class="fs-4"></fa-icon> -->
            <span class="logo-text">Oneway</span>
        </div>
        <div class="flex-row gap-1">

        </div>
        <div class="flex-row jcc aic gap-1">
            <span *ngIf="!user" class="btn-plain mx-1" routerLink="/login">Login</span>
            <span *ngIf="!user" class="btn-bold mx-2" routerLink="/register">Signup</span>
            <div *ngIf="user" class="nav-item mr-2  br-25 border p-2" ngbDropdown #myDrop="ngbDropdown">
                <div class="flex-row gap-1 jcc aic mx-1" (click)="$event.stopPropagation(); myDrop.open()">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <span class="bolder cursor-pointer">{{user.firstName.trim().substring(0,10)}}</span>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"></a>
                </div>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu py-2">
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/home">My Business</a>
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/orders">My Orders</a>
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/products">My Products</a>
                    <a *ngIf="supplier" ngbDropdownItem routerLink="/kitchen/settings">My Settings</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_orders">My Orders</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_ads">My
                        Ads</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_messages">My Messages</a>
                    <a *ngIf="!supplier" ngbDropdownItem routerLink="/my_profile">Account Settings</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem routerLink="/contact_us">Contact Us</a>
                    <div class="dropdown-divider"></div>
                    <a ngbDropdownItem (click)="logout()">Logout</a>

                </div>
            </div>
            <button type="button" class="btn-13 br-25" routerLink="/ads/post">Post an Ad</button>
        </div>
    </div>
</div>