<div class="container-fluid overflow-y mb-5">

    <div class="full-screen my-1 px-2 flex-row jcc border-top border-bottom pt-2">
        <div class="flex-row-scrollable">
            <div *ngFor="let category of categories" class="category" (click)="onSelectCategory(category.name)" [class.selectedCategory]="isSelectedCategory(category)">
                <fa-icon [icon]="category.icon"></fa-icon>
                <span>{{category.name}}</span>
            </div>
        </div>
    </div>
    <div class="sm my-2 p-2 flex-column">
        <app-postcode-lookup (addressEmitter)="onEmitAddress($event)"></app-postcode-lookup>
        <div class="flex-column" *ngIf="location">
            <div class="radio-buttons-container">
                <div class="radio-button">
                    <input name="rental-period" id="Monthly" value="Monthly" class="radio-button__input" checked type="radio" (change)="handleSearchRadius($event)">
                    <label for="Monthly" class="radio-button__label">
                        <span class="radio-button__custom"></span>This postcode
                        only
                    </label>
                </div>
                <div class="radio-button">
                    <input name="rental-period" id="Weekly" value="Weekly" class="radio-button__input" type="radio" (change)="handleSearchRadius($event)">
                    <label for="Weekly" class="radio-button__label">
                        <span class="radio-button__custom"></span>This area
                    </label>
                </div>
                <div class="radio-button">
                    <input name="rental-period" id="Weekly" value="Weekly" class="radio-button__input" type="radio" (change)="handleSearchRadius($event)">
                    <label for="Weekly" class="radio-button__label">
                        <span class="radio-button__custom"></span>This city
                    </label>
                </div>
            </div>
        </div>
        <div class="flex-row jcsb aic p-2 gap-1 w-100">
            <div class="flex-row border p-2 br-7 gap-1 px-3" (click)="openModal(filterModal)">
                <fa-icon [icon]="faFilter"></fa-icon>
                <span>Filters</span>
            </div>
            <div class="flex-row border p-2 br-7 gap-1 px-3">
                <fa-icon [icon]="faSort"></fa-icon>
                <span>Sort</span>
            </div>
        </div>
    </div>
    <!-- Filter-->
    <div class="row">
        <div class="lg col-md-1 col-lg-2 col-xl-3 flex-column gap-1">
            <span class="bolder fs-6 pb-3">Filters</span>
            <div class="flex-column mb-2">
                <span class="bolder">Location</span>
                <app-postcode-lookup (addressEmitter)="onEmitAddress($event)"></app-postcode-lookup>
            </div>
            <ng-container *ngIf="category === 'Property'" [ngTemplateOutlet]="propertyTypeList"></ng-container>
            <ng-container *ngIf="category === 'Property'" [ngTemplateOutlet]="consumptionTypeFilter"></ng-container>
            <ng-container *ngIf="category === 'Property' || category === 'Cars' || category === 'Books' || category === 'Furniture'  || category === 'Electronics'   || category === 'Toys'" [ngTemplateOutlet]="priceRangeFilter"></ng-container>
            <ng-container *ngIf="category === 'Property' && propertyType !=='Garage'  && propertyType !=='Commercial'" [ngTemplateOutlet]="bedroomsFilter"></ng-container>
            <button *ngIf="category" type="button" class="btn-13 br-25" (click)="searchProperties()">Go</button>
        </div>
        <div class="col-md-11 col-lg-10 col-xl-9 ">
            <div class="flex-column" *ngIf="category==='All'">
                <div class="d-flex jcsb aic gap-1 my-2">
                    <b class="bolder fs-5 ">Properties </b>
                    <b (click)="onSelectCategory('Property')" class="cursor-pointer link">See all</b>
                </div>
                <ng-container [ngTemplateOutlet]="propertyListScroller"></ng-container>
                <div class="div" *ngFor="let group of groupedAds | keyvalue">
                    <div class="d-flex jcsb aic gap-1 my-2">
                        <b class="bolder fs-5 ">{{group.key}} </b>
                        <b (click)="onSelectCategory(group.key)" class="cursor-pointer link">See all</b>
                    </div>
                    <ng-container [ngTemplateOutlet]="adListScroller" [ngTemplateOutletContext]="{ items: group.value }"></ng-container>
                </div>
            </div>
            <div class="flex-column" *ngIf="category!=='All'">
                <ng-container *ngIf="category === 'Property'" [ngTemplateOutlet]="propertyList"></ng-container>
                <ng-container *ngIf="category !== 'Property'" [ngTemplateOutlet]="adList"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #propertyListScroller>
    <div class="lg scroll-container">
        <div class="arrow-icon-div" (click)="scrollLeft('pScroller')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </div>
        <div #pScroller style="display: flex;padding: 10px;overflow-x: hidden;white-space: nowrap;gap: 10px;">
            <ng-container *ngFor="let property of properties" [ngTemplateOutlet]="propertyCard" [ngTemplateOutletContext]="{ item: property }"></ng-container>
        </div>
        <div class="arrow-icon-div" (click)="scrollRight('pScroller')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </div>
    </div>
    <div class="sm full-screen mb-2 px-3">
        <div class="flex-row-scrollable py-2 w-100 gap-1">
            <ng-container *ngFor="let property of properties" [ngTemplateOutlet]="propertyCard" [ngTemplateOutletContext]="{ item: property}"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #adListScroller let-items="items">
    <div class="lg scroll-container">
        <div class="arrow-icon-div" (click)="scrollLeft('adScroller')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </div>
        <div #adScroller style="display: flex;padding: 10px;overflow-x: hidden;white-space: nowrap;gap: 10px;">
            <ng-container *ngFor="let ad of items" [ngTemplateOutlet]="adCard" [ngTemplateOutletContext]="{ item: ad }"></ng-container>
        </div>
        <div class="arrow-icon-div" (click)="scrollRight('adScroller')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </div>
    </div>
    <div class="sm full-screen mb-2 px-3">
        <div class="flex-row-scrollable py-2 w-100 gap-1">
            <ng-container *ngFor="let ad of ads" [ngTemplateOutlet]="adCard" [ngTemplateOutletContext]="{ item: ad }"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #propertyCard let-item="item">
    <div class="flex-column" style="max-width: 300px;min-width: 300px;height: 320px;margin-right: 10px;" [routerLink]="['/ads/p', item.reference]">
        <img *ngIf="!item.image" src="/assets/images/default-image.jpeg" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
        <img *ngIf="item.image" src="{{item.image}}" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
        <div class="flex-column p-1">
            <span class="bolder py-2">{{item.title}}</span>
            <span class="fs-7 bold">{{item.address.addressLine2}},
                {{item.address.city}}
            </span>
            <div class="flex-row jcsb aic">
                <span class="bolder">{{item.price |
                    currency:'GBP'}}</span>
                <span>{{item.datePosted |
                    dateAgo}}</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #adCard let-item="item">
    <div class="flex-column" style="max-width: 300px;min-width: 300px;height: 320px;margin-right: 10px;" [routerLink]="['/ads/g', item.reference]">
        <img *ngIf="!item.image" src="/assets/images/default-image.jpeg" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
        <img *ngIf="item.image" src="{{item.image}}" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
        <div class="flex-column p-1">
            <span class="bolder py-2">{{item.title}}</span>
            <span class="fs-7 bold">{{item.address.addressLine2}},
                {{item.address.city}}
            </span>
            <div class="flex-row jcsb aic">
                <span class="bolder">{{item.price |
                    currency:'GBP'}}</span>
                <span>{{item.datePosted |
                    dateAgo}}</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #adList>
    <div class="flex-column">
        <div class="flex-row gap-1">
            <fa-icon [icon]="faArrowLeft" class="btn-circle" (click)="onSelectCategory('All')"></fa-icon>
            <span class="bolder pb-3 fs-5">{{category}}</span>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gap-1">
            <div class="col mb-4" *ngFor="let item of ads" [routerLink]="[ '/ads/g', item.reference] ">
                <div class="flex-column" style="border:none;cursor: pointer;">
                    <!-- <img src="{{item.image}}" class="card-img" alt="..."> -->
                    <img *ngIf="item.image" src="{{item.image}}" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
                    <img *ngIf="!item.image" src="/assets/images/default-image.jpeg" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
                    <div class="flex-column bg-light p-2">
                        <span class="bolder py-2">{{item.title}}</span>
                        <span class="fs-7 bold">{{item.address.addressLine2}},
                            {{item.address.city}}
                        </span>
                        <div class="flex-row jcsb aic">
                            <span class="bolder">{{item.price |
                                currency:'GBP'}}</span>
                            <span>{{item.datePosted |
                                dateAgo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #propertyList>
    <div class="flex-column">
        <div class="flex-row gap-1">
            <fa-icon [icon]="faArrowLeft" class="btn-circle" (click)="onSelectCategory('All')"></fa-icon>
            <span class="bolder pb-3 fs-5">Properties</span>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  align-items-stretch">
            <div class="col mb-4" *ngFor="let item of properties " [routerLink]="[ '/ads/p', item.reference] ">
                <div class="flex-column" style="border:none;cursor: pointer;">
                    <img *ngIf="item.image" src="{{item.image}}" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
                    <img *ngIf="!item.image" src="/assets/images/default-image.jpeg" style="height: 290px;width:100%;object-fit: cover;border-radius: 12px;">
                    <div class="flex-column p-1">
                        <span class="bolder py-2">{{item.title}}</span>
                        <span class="fs-7 bold">{{item.address.addressLine2}},
                            {{item.address.city}}
                        </span>
                        <div class="flex-row jcsb aic">
                            <span class="bolder">{{item.price |
                                currency:'GBP'}}</span>
                            <span>{{item.datePosted |
                                dateAgo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #categoryList>
    <div class="flex-column">
        <select class="form-select" (change)="onChangeCategory($event)">
            <option default>Category</option>
            <option value="Car">Car</option>
            <option value="Property">Property</option>
            <option value="Toys">Toys</option>
            <option value="Furniture">Furniture</option>
            <option value="Events">Events</option>
            <option value="Electronics">Electronics</option>
            <option value="Books">Books</option>
            <option value="Jobs">Jobs</option>
        </select>
    </div>
</ng-template>
<ng-template #propertyTypeList>
    <div class="flex-column mb-2">
        <span class="bold">Property Type</span>
        <div class="flex-row my-1 jcc aic gap-1">
            <select class="form-select" (change)="onChangePropertyTypeList($event)">
                <option default>Any</option>
                <option value="Flat">Flat</option>
                <option value="Detached">Detached</option>
                <option value="Semi-detached">Semi-detached</option>
                <option value="Bungalow">Bungalow</option>
                <option value="Car Park">Car Park</option>
                <option value="Garage">Garage</option>
                <option value="Commercial">Commercial</option>
            </select>
        </div>
    </div>
</ng-template>
<ng-template #consumptionTypeFilter>
    <div class="flex-column mb-2">
        <span class="bold">Whats your intend?</span>
        <div class="mydict flex-row">
            <div>
                <label>
                    <input id="Sale" value="Sale" type="radio" name="radio"
                        checked (change)="onChangeConsumptionType($event)">
                    <span>Sale</span>
                </label>
                <label>
                    <input id="Rent" value="Rent" type="radio" name="radio"
                        (change)="onChangeConsumptionType($event)">
                    <span>Rent</span>
                </label>
                <label>
                    <input id="Share" value="Share" type="radio"
                        name="radio"
                        (change)="onChangeConsumptionType($event)">
                    <span>Share</span>
                </label>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #priceRangeFilter>
    <div class="flex-column w-100 mb-2">
        <span class="bold">Price Range</span>
        <div class="flex-row aic gap-1" *ngIf="category === 'Property' || category === 'Cars' || category === 'Books' || category === 'Furniture'  || category === 'Electronics'   || category === 'Toys'">
            <input type="number" style="width: 100px;border-radius: 0;height: 32px;" [(ngModel)]="minAmount" #ctrl="ngModel" id="minAmount" class="form-control" placeholder="Min">
            <input type="number" style="width: 100px;border-radius: 0;height: 32px;" [(ngModel)]="maxAmount" #ctrl="ngModel" id="maxAmount" class="form-control" placeholder="Max">
        </div>
    </div>
</ng-template>
<ng-template #bedroomsFilter>
    <div class="flex-column w-100 mb-2">
        <span class="bold">Bedrooms</span>
        <div class="flex-row aic gap-1" *ngIf="category === 'Property' && propertyType !=='Garage'  && propertyType !=='Commercial'">
            <input type="number" style="width: 100px;border-radius: 0;height: 32px;" [(ngModel)]="minBed" #ctrl="ngModel" id="minBed" class="form-control" placeholder="Min Bed">
            <input type="number" style="width: 100px;border-radius: 0;height: 32px;" [(ngModel)]="maxBed" #ctrl="ngModel" id="maxBed" class="form-control" placeholder="Max Bed">
        </div>
    </div>
</ng-template>

<ng-template #priceFilterRow>
    <div class="flex-row gap-1 p-3 jcc aic">
        <div class="input-group" style="width: 100px; font-size: 12px;">
            <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
            <input type="number" [(ngModel)]="minAmount" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="minAmount" class="form-control" placeholder="Min">
        </div>
        <div class="input-group" style="width: 100px; font-size: 12px;">
            <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
            <input type="number" [(ngModel)]="maxAmount" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="maxAmount" class="form-control" placeholder="Max">
        </div>
    </div>
</ng-template>

<ng-template #priceFilter>
    <div class="nav-item mr-2" ngbDropdown>
        <div class="flex-row gap-1 jcc aic mx-1">
            <fa-icon class="btn-circle" [icon]="faTag"></fa-icon>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"></a>
            <span class="bolder">Price</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <div class="flex-row gap-1 p-3 jcc aic">
                <div class="input-group" style="width: 100px; font-size: 12px;">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input type="number" [(ngModel)]="minAmount" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="minAmount" class="form-control" placeholder="Min">
                </div>
                <div class="input-group" style="width: 100px; font-size: 12px;">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input type="number" [(ngModel)]="maxAmount" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="maxAmount" class="form-control" placeholder="Max">
                </div>
                <small>Clear</small>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #bedFilterRow>
    <div class="flex-row gap-1 p-3 jcc aic">
        <input style="width: 100px; font-size: 12px;" type="number" [(ngModel)]="minBed" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="minBed" class="form-control" placeholder="Min Bed">
        <input style="width: 100px; font-size: 12px;" type="number" [(ngModel)]="maxBed" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="maxBed" class="form-control" placeholder="Max Bed">
        <small>Clear</small>
    </div>
</ng-template>
<ng-template #bedFilter>
    <div class="nav-item mr-2" ngbDropdown>
        <div class="flex-row gap-1 jcc aic mx-1">
            <fa-icon class="btn-circle" [icon]="faBed"></fa-icon>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"></a>
            <span class="bolder">Bedrooms</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <div class="flex-row gap-1 p-3 jcc aic">
                <input style="width: 100px; font-size: 12px;" type="number" [(ngModel)]="minBed" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="minBed" class="form-control" placeholder="Min Bed">
                <input style="width: 100px; font-size: 12px;" type="number" [(ngModel)]="maxBed" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="maxBed" class="form-control" placeholder="Max Bed">
                <small>Clear</small>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #propertyTypeFilter>

    <div class="nav-item mr-2" ngbDropdown #myDrop="ngbDropdown">
        <div class="flex-row gap-1 jcc aic mx-1">
            <fa-icon class="btn-circle" [icon]="faHomes"></fa-icon>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"></a>
            <span class="bolder">Property Type</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <div class="flex-column gap-1 p-3 w-100">
                <div class="mydict">
                    <div>
                        <label>
                            <input id="All" value="All" type="radio"
                                name="radio" checked
                                (change)="selectPropertyType($event)">
                            <span>All</span>
                        </label>
                        <label>
                            <input id="Flat" value="Flat" type="radio"
                                name="radio"
                                (change)="selectPropertyType($event)">
                            <span>Flat</span>
                        </label>
                        <label>
                            <input id="Detached House"
                                value="Detached House"
                                type="radio" name="radio"
                                (change)="selectPropertyType($event)">
                            <span>Detached House</span>
                        </label>
                        <label>
                            <input id="Shared Room" value="Shared Room"
                                type="radio" name="radio"
                                (change)="selectPropertyType($event)">
                            <span>Shared Room</span>
                        </label>
                        <label>
                            <input id="Garage" value="Garage" type="radio"
                                name="radio"
                                (change)="selectPropertyType($event)">
                            <span>Garage</span>
                        </label>
                        <label>
                            <input id="Commercial" value="Commercial"
                                type="radio" name="radio"
                                (change)="selectPropertyType($event)">
                            <span>Commercial</span>
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-primary me-2" (click)="$event.stopPropagation(); myDrop.close()">Apply</button>
                <!-- <button type="radio" class="btn-1" (click)="selectPropertyType('All')">All</button>
                <button type="button" class="btn-1" (click)="selectPropertyType('Flat')">Flat</button>
                <button type="button" class="btn-1" (click)="selectPropertyType('Detached House')">Detached House</button>
                <button type="button" class="btn-1" (click)="selectPropertyType('Shared Room')">Shared Room</button>
                <button type="button" class="btn-1" (click)="selectPropertyType('Garage')">Garage</button>
                <button type="button" class="btn-1" (click)="selectPropertyType('Commercial')">Commercial</button> -->
            </div>
        </div>
    </div>
</ng-template>

<ng-template #filterModal let-modal>
    <div class="modal-header d-flex jcsb aic">
        <span class="bolder fs-6">Filters</span>
        <button type="button" class="btn-modal-close" aria-label="Close" (click)="close()">X</button>
    </div>
    <div class="modal-body flex-column p-3 w-100 flex-grow gap-1">
        <ng-container [ngTemplateOutlet]="categoryList"></ng-container>
        <ng-container *ngIf="category === 'Property'" [ngTemplateOutlet]="propertyTypeList"></ng-container>
        <ng-container *ngIf="category === 'Property'" [ngTemplateOutlet]="consumptionTypeFilter"></ng-container>
        <ng-container *ngIf="category === 'Property' || category === 'Car' || category === 'Books'" [ngTemplateOutlet]="priceRangeFilter"></ng-container>
        <ng-container *ngIf="category === 'Property'" [ngTemplateOutlet]="bedroomsFilter"></ng-container>
    </div>
    <div class="modal-footer flex-row jcsb aic" style="margin: 10px;padding: 10px;gap:.6rem;">
        <button type="button" class="btn-10" (click)="searchProperties()">Apply</button>
        <button type="button" class="btn-10" (click)="close()">Cancel</button>
    </div>
</ng-template>