<div class="container-fluid">
    <div class="flex-column">

        <!-- Filter-->
        <div class="flex-row gap-1 aic jcc my-3">
            <div class="flex-column">
                <span class="bolder">Location</span>
                <select class="form-select" (change)="onChangeLocation($event)">
                    <option default>Select</option>
                    <option value="Glasgow">Glasgow</option>
                    <option value="London">London</option>
                    <option value="Birmingham">Birmingham</option>
                    <option value="Edinburgh">Edinburgh</option>
                    <option value="Manchester">Manchester</option>
                    <option value="Southampton">Southampton</option>
                </select>
            </div>
            <div class="flex-column">
                <span class="bolder">Ads about</span>
                <select class="form-select" (change)="onChangeCategory($event)">
                    <option default>Select</option>
                    <option value="Car">Car</option>
                    <option value="Property">Property</option>
                    <option value="Toys">Toys</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Events">Events</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Books">Books</option>
                    <option value="Jobs">Jobs</option>
                </select>
            </div>
            <div class="flex-column">
                <span class="bolder">Min</span>
                <div class="input-group" style="width: 100px;">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input type="number" [(ngModel)]="minAmount" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="minAmount" class="form-control" placeholder="Min">
                </div>
            </div>
            <div class="flex-column">
                <span class="bolder">Max</span>
                <div class="input-group" style="width: 100px;">
                    <div class="bg-light border jcc aic d-flex p-2 br-tl-7 br-bl-7">£</div>
                    <input type="number" [(ngModel)]="maxAmount" #ctrl="ngModel" min="0.00" step="1" value="1.00" id="maxAmount" class="form-control" placeholder="Max">
                </div>
            </div>
            <button type="button" class="btn-13 br-25">Go</button>
        </div>

        <span class="bolder fs-5 my-3">Latest</span>
        <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <app-property-card [property]="property" *ngFor="let property of properties"></app-property-card>
        </div> -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div class="col mb-4 br-12" *ngFor="let property of properties " [routerLink]="[ '/ads', property.reference] ">
                <div class="card br-12 chef-card" style="border:none;">
                    <img src="{{property.image}}" class="card-img br-top-14" alt="...">
                    <div class="card-body">
                        <h5 class="fs-6 bolder">{{property.title}}</h5>
                        <div class="flex-row jcsb aic">
                            <span>{{property.datePosted | dateAgo}}</span>
                            <span>{{property.price | currency:'GBP'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>