<drag-scroll #nav>
  <img drag-scroll-item src="https://picsum.photos/id/44/1920/600" style="height: 500px;width: 760px;object-fit: contain;"/>
  <img drag-scroll-item src="https://picsum.photos/id/55/1920/600" style="height: 500px;width: 760px;object-fit: contain;" />
  <img drag-scroll-item src="https://picsum.photos/id/66/1920/600" style="height: 500px;width: 760px;object-fit: contain;" />
</drag-scroll>
<button (click)="moveLeft()">Left</button>
<button (click)="moveRight()">Right</button>
<button (click)="moveTo(2)">Last</button>