
.cuisine {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 12px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.cuisine:hover {
    cursor: pointer;
    background-color: var(--warning);
}

.cuisine-logo {
    width: 100px;
    height: 60px;
    object-fit: cover;
    border-radius: 12px;
}

.cuisine-logo:hover {
    transition: 0.5s ease-in-out;
}

.selectedCuisine {
    background-color: var(--warning);
}

.copyright-div {
    display: flex;
    align-items: center;
}

.copyright-div>img {
    height: 10px;
    width: 10px;
}
