<div class="mb-150">

    <div class="flex-row py-2 aic">
        <fa-icon [icon]="faArrowLeft" (click)="goBack()" class="btn-circle mr-3"></fa-icon>
        <span class="bolder fs-3">{{postcodeDistrict?.prefix}}</span>
    </div>

    <div class="full-screen mb-2 px-3">
        <div class="flex-row-scrollable py-3">
            <div *ngFor="let cuisine of cuisines" class="cuisine" (click)="onSelectCuisine(cuisine)" [class.selectedCuisine]="isSelectedCuisine(cuisine)">
                <img src={{cuisine.logo}} class="cuisine-logo" height="90px" width="120px">
                <span>{{cuisine.name}}</span>
            </div>
        </div>
    </div>


    <div class="flex-column w-100 mb-2 sm">
        <span class="bolder fs-5">Whats on your mind ?</span>
        <div class="full-screen mb-2 px-3">
            <div class="flex-row-scrollable py-3">
                <!-- <div *ngFor="let kw of keywords" class="btn-text d-flex jcc aic mr-1 px-3" (click)="onSelectDish(d)" [class.clicked]="isDishSelected(d)"> -->
                    <div *ngFor="let kw of keywords" class="selectable mr-1" (click)="onSelectKeyword(kw)" [class.selected]="isKeywordSelected(kw)">
                        <fa-icon [icon]="faCheck"></fa-icon>
                        <span class="pl-1">{{kw}}</span>
                    </div>
            </div>
        </div>
    </div>

    <div class="flex-column w-100 mb-2 px-3 lg">
        <h4 class="big-text">Whats on your mind ?</h4>
        <div class="flex-row-scrollable">
            <!-- <div *ngFor="let d of dishes" class="selectable mr-1" (click)="onSelectDish(d)" [class.selected]="isDishSelected(d)"> -->
            <div *ngFor="let kw of keywords" class="selectable mr-1" (click)="onSelectKeyword(kw)" [class.selected]="isKeywordSelected(kw)">
                <fa-icon [icon]="faCheck"></fa-icon>
                <span class="pl-1">{{kw}}</span>
            </div>
        </div>
    </div>

    <div class="full-screen mb-2 px-3">
        <div class="flex-row-space-between mb-1 md bg-light p-2 mx-1" *ngIf="serviceLocation != null && serviceLocation !== undefined">
            <span>{{serviceLocation.name}}, {{serviceLocation.city}}</span>
            <span class="change-area" routerLink="/ck/home">Change</span>
        </div>
    </div>

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col mb-4" *ngFor="let chef of filteredKitchens " [routerLink]="[ '/cloud-kitchens', chef._id] ">
            <div class="chef-card">
                <img src="{{chef.image}}" class="card-img-top" alt="...">
                <div class="card-body mt-1 p-2">
                    <h5 class="fs-6 bolder">{{chef.name}}</h5>
                    <p class="card-text"> {{chef.description}}</p>
                    <span [class.open]="chef.open" [class.closed]="!chef.open">{{chef.open?
                        "Open Now":"Closed"}}</span>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>