.selectable-btn {
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(209, 213, 219);
    font-weight: 500;
}

.selectable-btn:hover {
    cursor: pointer;
    background-color: #444;
    border: 1px solid #444;
    color: aquamarine;
}

.selected-btn {
    background-color: #444;
    border: 1px solid #444;
    color: aquamarine;
}