<div class="container">

    <div class="section-header">
        <span class="bolder fs-3">My Orders</span>
    </div>

    <!-- All Orders  -->
    <div class="flex-column" *ngIf="!viewOrder">
        <div class="d-flex jcc aic w-100 gap-3">
            <div class="flex-column jcc aic py-3 px-5 btn-success" (click)="showOrders('Today')">
                <span class="bold">Today</span>
                <span class="bolder fs-4">{{orderProfile?.today?.length}}</span>
            </div>
            <div class="flex-column jcc aic py-3 px-5 btn-warning" (click)="showOrders('Week')">
                <span class="bold">Week</span>
                <span class="bolder fs-4">{{orderProfile?.sevenDays?.length}}</span>
            </div>
            <div class="flex-column jcc aic py-3 px-5 btn-info" (click)="showOrders('Month')">
                <span class="bold">Month</span>
                <span class="bolder fs-4">{{orderProfile?.month?.length}}</span>
            </div>
        </div>
        <div class="flex-row jcc my-2">
            <div class="flex-row jcc aic py-2 gap-2 border-o br-7" style="width: 360px;">
                <span class="selectable-btn" (click)="filterStatus('All')"
                    [class.selected-btn]="filteredStatus === 'All'">All</span>
                <span class="selectable-btn" (click)="filterStatus('Paid')"
                    [class.selected-btn]="filteredStatus === 'Paid'">Open</span>
                <span class="selectable-btn" (click)="filterStatus('In Progress')"
                    [class.selected-btn]="filteredStatus === 'In Progress'">In Progress</span>
                <span class="selectable-btn" (click)="filterStatus('Completed')"
                    [class.selected-btn]="filteredStatus === 'Completed'">Completed</span>
            </div>
        </div>
        <form>
            <div class="my-2 row">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text
                    search:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                </div>
            </div>
        </form>
        <div class="overflow-y height-500 w-100">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of myOrders$ | async; index as i" (click)="open(order)">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            <ngb-highlight [result]="order.reference" [term]="filter.value" />
                        </td>
                        <td>
                            <ngb-highlight [result]="order.total | currency: 'GBP' " [term]="filter.value" />
                        </td>
                        <td>
                            <ngb-highlight [result]="order.dateCreated | date " [term]="filter.value" />
                        </td>
                        <td>
                            <ngb-highlight [result]="order.status | titlecase" [term]="filter.value" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <table class="styled-table">
            <thead>
                <tr>
                  <th>Reference</th>
                  <th>Total</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="open(order)" *ngFor="let order of orders | orderByDate:'dateCreated':'desc'">
                    <td class="pl-2">{{order.reference}}</td>
                    <td class="pl-2">{{order.total | currency: 'GBP'}}</td>
                    <td class="pl-2">{{order.dateCreated | date }}</td>
                    <td class="pl-2">{{order.status | titlecase}}</td>
                </tr>
              </tbody>
        </table> -->
    </div>

    <!-- Single Order -->
    <div class="flex-column" *ngIf="viewOrder">

        <div class="row">
            <div class="col flex-row p-2 aic  bg-white br-7">
                <div class="flex-row aic">
                    <fa-icon [icon]="faArrowLeft" (click)="goBack()" class="btn-circle mr-3"></fa-icon>
                    <span class="py-2 fs-4 bolder">{{viewOrder?
                        viewOrder.reference: 'My Orders'}}</span>
                </div>
                <div *ngIf="loading" class="d-flex jcc aic p-3">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
       
        <div class="progress_container">
            <div class="progress" id="progress"></div>
            <div class="flex-column jcc aic">
                <div class="circle mt-3" [class.active]="viewOrder?.status === 'Paid'">
                </div>
                <span>Open</span>
            </div>
            <div class="flex-column  jcc aic">
                <div class="circle mt-3" [class.active]="viewOrder?.status === 'Accepted'">
                </div>
                <span>In Progress</span>
            </div>
            <div class="flex-column  jcc aic">
                <div class="circle mt-3"
                    [class.active]="viewOrder?.status === 'Ready' || viewOrder?.status === 'Cancelled'"></div>
                <span *ngIf="viewOrder?.status === 'Paid'">Ready</span>
                <span *ngIf="viewOrder?.status === 'Cancelled'">Cancelled</span>
            </div>
            <div class="flex-column jcc aie" *ngIf="viewOrder?.status !== 'Cancelled'">
                <div class="circle mt-3"
                    [class.active]="viewOrder?.status === 'Collected' || viewOrder?.status === 'Delivered'"></div>
                <span>Completed</span>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 gap-3 mt-5">
            <ng-container [ngTemplateOutlet]="itemsTemplate"></ng-container>
            <ng-container [ngTemplateOutlet]="summaryTemplate"></ng-container>
        </div>

        <div class="lg row bg-white p-3 mt-5 br-7">
            <div class="col">
                <div class="flex-row jcc aic gap-3">
                    <span class="btn-success" (click)="performAction('Accept')">Accept</span>
                    <span class="btn-warning" (click)="obtainDeclineReason(declineReasonModal)">Decline</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sm sticky-footer bg-white p-3 flex-row jcc aic gap-3">
        <span class="btn-success" (click)="performAction('Accept')">Accept</span>
        <span class="btn-warning" (click)="obtainDeclineReason(declineReasonModal)">Decline</span>
    </div>

</div>



<ng-template #emptyOrders>
    <div style="padding: 20px;background-color: rgb(181, 241, 221);">
        Oops!. You have no orders in this period!
    </div>
</ng-template>


<ng-template #itemsTemplate>
    <div class=" col flex-column p-3 flex-grow bg-white br-7">
        <span class="bold f-size-lg ">Items</span>
        <table class="mt-1 mb-4">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
            <tr class="border-bottom py-3" *ngFor="let item of viewOrder?.items">
                <td>{{item.name}}</td>
                <td class="pl-2">{{item.quantity}}</td>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #summaryTemplate>
    <div class=" col flex-column p-3 flex-grow bg-white br-7">
        <div class="flex-column justify-content-center align-items-center">
            <div style=" display: flex; flex-direction: column;width: 100%;padding: 5px 30px;">
                <div class="flex-row-space-between">
                    <span>Subtotal</span>
                    <span>{{viewOrder?.subTotal | currency:
                        'GBP'}}</span>
                </div>
                <div class="flex-row-space-between">
                    <span>Delivery fee</span>
                    <span>{{viewOrder?.deliveryFee | currency:
                        'GBP'}}</span>
                </div>
                <div class="flex-row-space-between">
                    <span>Packing fee</span>
                    <span>{{viewOrder?.packagingFee| currency:
                        'GBP'}}</span>
                </div>
                <div class="flex-row-space-between">
                    <span>Service Fee</span>
                    <span>{{viewOrder?.serviceFee | currency:
                        'GBP'}}</span>
                </div>
                <div class="flex-row-space-between" style="margin-top: 10px;">
                    <span style="font-weight: 900;">TOTAL</span>
                    <span style="font-weight: 900;">{{viewOrder?.total |
                        currency:
                        'GBP'}}</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #declineReasonModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Decline the order</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="flex-column">
            <div class="py-1">
                <p>
                    Please state the reason for declining the order
                </p>
            </div>
            <div class="input-div">
                <textarea rows="5" class="_381tA" name="declineReason" id="declineReason" value [(ngModel)]="declineReason" tabindex="3" #ctrl="ngModel" style="height: 100px;"></textarea>
                <div class="_2EeI1 _26LFr"></div>
                <label class="_1CvtA _2tL9P" for="message">Your Message</label>
            </div>
            <div class="flex-row jcc aic py-3 my-3 gap-3">
                <span *ngIf="declineReason" class="btn-danger my-3" (click)="performAction('Decline')">Decline</span>
                <span class="btn-warning" (click)="closeModal()">Cancel</span>
            </div>
            
        </div>
    </div>
</ng-template>