.selectable-btn {
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 500;
}

.selectable-btn:hover {
    cursor: pointer;
    background-color: #e7f5e7;
    color: #53d900;
}

.selected-btn {
    background-color: #e7f5e7;
    color: #53d900;
}