<div class="flex-column jcc p-2">
    <!-- <div class="flex-row my-2">
        <span class="page-hash bold px-3">#1 Desi Home Foods</span>
    </div> -->

    <div class="sm flex-column">
        <img src="/assets/images/home-food-3.webp" class="mt-2 mb-4">
        <span style="width: 420px;" class="bolder spl-text fs-1 text-center">Are you starving?</span>
        <h1 class="color-grey mb-5 fs-5 bolder  text-center">Within a few clicks, find meals that
            <br class="d-none d-xxl-block"> are accessible near you
        </h1>
        <div class="w-100 my-1">
            <div class="bg-dark-grey br-25 py-2">
                <app-postcode-lookup (postcodeEmitter)="onSelectPostcode($event)"></app-postcode-lookup>
            </div>
        </div>
    </div>
    <div class="lg row p-5 aic">
        <div class="col">
            <div class="flex-column jcc aic">
                <span style="width: 420px;" class="bolder spl-text fs-1 text-center">Are you starving?</span>
                <h1 class="color-grey mb-5 fs-5 bolder text-center">Within a few clicks, find meals that
                    <br class="d-none d-xxl-block"> are accessible near you
                </h1>
                <div>
                    <div class="textSlider">
                        <div class="textSlider-text1">Homemade Goodness</div>
                        <div class="textSlider-text2">Delivered Fresh</div>
                        <div class="textSlider-text3">LOVE food</div>
                    </div>
                </div>
                <div class="w-50 my-1">
                    <div class="bg-dark-grey br-25 py-2">
                        <!-- <app-postcode-lookup (addressEmitter)="onSelectAddress($event)"></app-postcode-lookup> -->
                        <app-postcode-lookup (postcodeEmitter)="onSelectPostcode($event)"></app-postcode-lookup>
                    </div>
                </div>
            </div>
        </div>
        <div class="col lg jcc aic p-5">
            <img src="/assets/images/home-food-3.webp" style="height: 400px;">
        </div>
    </div>
    <!-- 
    <div class="lg row" style="height: 500px;">
        <div class="col flex-column jcc aic">
            <div class="flex-column p-4 text-center ">
                <span style="width: 420px;" class="bolder spl-text fs-xl">Are you starving?</span>
                <h1 class="color-grey mb-5 fs-3 bolder">Within a few clicks, find meals that
                    <br class="d-none d-xxl-block"> are accessible near you
                </h1>
              
                <div>
                    <div class="textSlider">
                        <div class="textSlider-text1">Homemade Goodness</div>
                        <div class="textSlider-text2">Delivered Fresh</div>
                        <div class="textSlider-text3">LOVE food</div>
                    </div>
                </div>
                <div class="flex-row jcc aic">
                    <div class="w-100">
                        <div class="bg-dark-grey br-25 py-2">
                            <app-postcode-lookup (postcodeEmitter)="onSelectPostcode($event)"></app-postcode-lookup>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col h-50 jcc aic p-5">
            <img src="/assets/images/home-food-3.webp" style="height: 400px;">
        </div>
    </div> -->
    <div class="flex-column aic my-2">
        <span class="fs-1 bolder color-o py-5 spl-text">How does it work</span>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 jcc">
            <div class="col flex-column jcc aic mb-4" style="width: 320px;">
                <fa-icon [icon]="faLocationDot" size="6x" class=" color-y"></fa-icon>
                <div class="flex-column jcc aic my-4 gap-2 text-center">
                    <span class="bolder fs-6">Select location</span>
                    <span class="px-5">Choose the location where your food will be delivered.</span>
                </div>
            </div>
            <div class="col flex-column jcc aic mb-4"  style="width: 320px;">
                <fa-icon [icon]="faUtensils" size="6x" class=" color-y"></fa-icon>
                <div class="flex-column jcc aic  my-4  gap-1 text-center">
                    <span class="bolder fs-6">Choose Kitchen</span>
                    <span class="px-5">Check over 100s of Home Kitchen</span>
                </div>
            </div>
            <div class="col flex-column jcc aic mb-4"  style="width: 320px;">
                <fa-icon [icon]="faReceipt" size="6x" class=" color-y"></fa-icon>
                <div class="flex-column jcc aic  my-4  gap-2 text-center">
                    <span class="bolder fs-6">Place Order</span>
                    <span class="px-5">It's quick, safe, and simple to place your order</span>
                </div>
            </div>
            <div class="col flex-column jcc aic mb-4" style="width: 320px;">
                <fa-icon [icon]="faMugHot" size="6x" class=" color-y"></fa-icon>
                <div class="flex-column jcc aic  my-4  gap-2 text-center">
                    <span class="bolder fs-6">Enjoy meals</span>
                    <span class="px-5">Food is made at neighbours home kitchen and delivered directly to your home</span>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 jcc mt-2">
        <div class="col">
            <div class="flex-column br-12 bg-white p-3 flex-grow w-100">
                <span class="bolder pb-2  spl-text">Top locations</span>
                <div class="flex-row flex-wrap aic gap-1 jcc aic">
                    <span class="btn-plain" *ngFor="let pd of popularDistricts" [routerLink]="['/ck/area', pd.prefix]">{{pd.coverage}}</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex-column br-12 bg-light-green p-3  flex-grow w-100">
                <span class="bolder pb-2 spl-text">Top cuisines</span>
                <div class="flex-row flex-wrap aic gap-1 jcc aic">
                    <div *ngFor="let cuisine of cuisines" [routerLink]="['/cloud-kitchens-list']" [queryParams]="{cuisine: cuisine.slug}" class="cuisine">
                        <img src={{cuisine.logo}} class="cuisine-logo" height="90px" width="120px">
                        <span>{{cuisine.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #addressList let-modal class="modal-dialog-centered ">

    <div class="modal-header " hidden>
    </div>
    <div class="modal-body ">
        <div class="flex-column border ">
            <div class="flex-row jcsb w-100 border-bottom p-3 aic ">
                <input type="text " placeholder="eg Glasgow " class="hp-search-box "
                    [(ngModel)]="postcodeDistrictsSearchText " (keyup.enter)="onEnter(addressList) ">
                <span *ngIf="showPostcodeDistricts " (click)="closeServiceLocations() "
                    style="color: var(--danger);cursor: pointer;padding: 0 10px; ">Clear</span>
                <button type="button " class="btn btn-sm btn-dark br-25 ">Go</button>
            </div>
            <div class="flex-column " style="max-height: 500px;overflow-y: auto; ">
                <span class="hp-location " *ngFor="let pd of postcodeDistricts "
                    (click)="onSelectPostcodeDistrict(pd) ">{{ pd.prefix }},
                    {{pd.area}}</span>
            </div>

        </div>
    </div>
    <div class="modal-sticky-footer " hidden>
    </div>
</ng-template> -->

<ng-template #locationResults let-modal>
    <div class="modal " id="exampleModalCentered " tabindex="-1 " role="dialog " aria-labelledby="exampleModalCenteredLabel " aria-hidden="true ">
        <div class="modal-dialog modal-dialog-centered " role="document ">
            <div class="modal-content ">
                <div class="modal-header " hidden>
                    <h5 class="modal-title " id="exampleModalCenteredLabel ">Modal title
                    </h5>
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                        <span aria-hidden="true ">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="flex-column " style="min-height: 500px;overflow-y: auto;background-color: chocolate; ">
                        <span class="hp-location " *ngFor="let pd of postcodeDistricts " (click)="onSelectPostcodeDistrict(pd) ">{{ pd.prefix
                            }}-
                            {{pd.area}}</span>
                    </div>
                </div>
                <div class="modal-sticky-footer " hidden>
                    <button type="button " class="btn btn-secondary " data-dismiss="modal ">Close</button>
                    <button type="button " class="btn btn-primary ">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #content let-modal>

    <div class="modal-header d-flex jcsb ">
        <h4 class="big-text">Locations</h4>
        <fa-icon [icon]="faClose " class="btn-circle fa-2xl " (click)="modal.dismiss( 'Cross click') "></fa-icon>
        <!-- <button type="button " class="btn-circle " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">X</button> -->
    </div>
    <div class="modal-body justify-content-center ">
        <!-- <h4 class="modal-title " id="modal-basic-title ">Locations</h4> -->
        <div class="flex-column " style="max-height: 500px;overflow-y: auto; ">
            <span class="hp-location " *ngFor="let pd of postcodeDistricts " (click)="onSelectPostcodeDistrict(pd) ">{{
                pd.prefix }}-
                {{pd.area}}</span>
        </div>
    </div>
    <!-- <div class="modal-sticky-footer "> -->
    <div class="modal-sticky-footer " style="margin: 10px;padding: 10px;gap:.6rem; " hidden>
    </div>
</ng-template>