<div class="container">
    <div class="row">
        <div class="flex-row aic jcsb bg-white p-4 my-3 br-7">
            <span class="bolder fs-3">Order Confirmation</span>
            <strong class="fs-5 color-o bolder">{{order?.reference}}</strong>
        </div>
    </div>

    <div class="flex-column jcc aic" *ngIf="loading">
        <div class="waiter"></div>
        <span class="py-2 fs-4">Please wait while we confirm your order</span>
    </div>



    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 gap-3" *ngIf="!loading">
        <div class="col bg-white p-3 flex-grow">
            <app-order-progress [status]="order?.status"  [serviceMode]="order?.serviceMode"></app-order-progress>
        </div>
        <div class="col bg-white p-3 flex-grow">
            <app-f-order-item *ngFor="let item of order?.items" [item]="item" [editable]=false></app-f-order-item>
            <ng-template [ngTemplateOutlet]="summary"></ng-template>
        </div>
        
        
    </div>
    <div class="col bg-white  flex-grow">
        <div class="flex-column p-4 my-3 jcc">
            <span class="fs-6 bolder">You will be notified once your order is ready to be {{order.serviceMode === 'DELIVERY'?
                'Delivered':'Collected'}}</span>
            <span class="fs-6 py-2">You can also track your order at <a href="/my_orders">Orders</a></span>
        </div>
    </div>
    <div class="bg-white flex-grow">
        <div class="flex-column p-4 ">
            <span class="bolder py-2">{{order.serviceMode === 'DELIVERY'? 'Delivery Address': 'Collection Address'}}</span>
            <div class="flex-row" *ngIf="order.serviceMode === 'DELIVERY'">
                <span>{{order.customer.address.addressLine1}},</span>
                <span>{{order.customer.address.addressLine2}}</span>
            </div>
            <div class="flex-row" *ngIf="order.serviceMode === 'DELIVERY'">
                <span>{{order.customer.address.city}}, </span>
                <span class="pl-1">{{order.customer.address.postcode}}</span>
            </div>
            <div class="flex-row" *ngIf="order.serviceMode === 'COLLECTION'">
                <span>{{cloudKitchenMini.address.addressLine1}},</span>
                <span>{{cloudKitchenMini.address.addressLine2}}</span>
            </div>
            <div class="flex-row" *ngIf="order.serviceMode === 'COLLECTION'">
                <span>{{cloudKitchenMini.address.city}}, </span>
                <span class="pl-1">{{cloudKitchenMini.address.postcode}}</span>
            </div>
        </div>
        <div class="flex-column border p-2 br-7 my-1" *ngIf="order.serviceMode === 'DELIVERY'">
            <span class="bolder py-2">Order prepared by</span>
            <span [routerLink]="[ '/cloud-kitchens', cloudKitchenMini?._id] " style="font-size: 15px;cursor: pointer;color:coral;" class="bold py-1">{{cloudKitchenMini?.name}}</span>
            <div class="flex-row">
                <span>{{cloudKitchenMini.address.addressLine1}},</span>
                <span>{{cloudKitchenMini.address.addressLine2}}</span>
            </div>
            <div class="flex-row">
                <span>{{cloudKitchenMini.address.city}}, </span>
                <span>{{cloudKitchenMini.address.postcode}}</span>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>
    <div class="d-flex jcsb sticky-footer p-2">
        <span>Need Help? visit our <a href="#"> help center</a></span>
        <span>{{order?.dateCreated | date: 'dd MMM, yyyy'}}</span>
    </div>
</div>

<ng-template #summary>
    <div class="flex-column my-2 w-100">
        <div class="flex-row-space-between">
            <strong>Subtotal</strong>
            <strong>{{order?.subTotal| currency: 'GBP'}}</strong>
        </div>
        <div class="flex-row-space-between">
            <span>Delivery fee</span>
            <span>{{order?.deliveryFee| currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between">
            <span>Service Fee</span>
            <span>{{order?.serviceFee| currency: 'GBP'}}</span>
        </div>
        <div class="flex-row-space-between" style="margin-top: 10px;">
            <strong>Total</strong>
            <strong>{{order?.total| currency: 'GBP'}}</strong>
        </div>
    </div>
</ng-template>

<ng-template #items>
    <div *ngIf="order !== null && order !== undefined" class="flex-column">
        <app-f-order-item *ngFor="let item of order?.items" [item]="item" [editable]="false"></app-f-order-item>
    </div>
</ng-template>

<ng-template #itemsContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Your Items</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div style="display: flex;flex-direction: column;height: 380px;overflow: auto;padding-bottom: 10px;">
            <div *ngIf="order !== null && order !== undefined">
                <app-f-order-item *ngFor="let item of order?.items" [item]="item"></app-f-order-item>
            </div>
        </div>
    </div>
</ng-template>